<div class="d-block w-100 mb-3 mt-2">
 
<div class="d-flex px-2 flex-wrap w-100 align-items-center justify-content-start">

    <div class="d-inline-block me-3">
      <h3 class="text-black font-weight-600 text-18 m-0"> 
         {{'WE_ACCEPT'|translate}}
      </h3>
    </div>

    
    <div class="d-inline-block me-3">
        <img class="h-30-px w-auto object-fit-contain rounded-0" src="../../../assets/img/card-visa-icon.png">
    </div>
    <div class="d-inline-block me-3">
        <img class="h-30-px w-auto object-fit-contain rounded-0" src="../../../assets/img/card-american-icon.png">
    </div>
    <div class="d-inline-block me-3">
        <img class="h-30-px w-auto object-fit-contain rounded-0" src="../../../assets/img/card-mastercard-icon.jpg">
    </div>
    <div class="d-inline-block me-3">
        <img class="h-30-px w-auto object-fit-contain rounded-0" src="../../../assets/img/card-discover-icon.png">
    </div>
    <div class="d-inline-block me-3">
        <img class="h-30-px w-auto object-fit-contain rounded-0" src="../../../assets/img/hsa-fsa-card.png">
    </div> 
    <div class="d-inline-block me-3">
      <span class="font-weight-600 text-14 text-black d-inline-block">   {{'AND_MANY_MORE'|translate}}    </span>
    </div>
    
</div>
</div>

<div class="d-block w-100 bg-white border border-color-silver px-lg-4 px-md-3 px-sm-3 px-2 py-3 my-3 rounded-2">
    <div id="finix-form" #finixFormContainer></div>
</div>
<div class="d-flex flex-wrap align-items-center justify-content-between w-100">
    <div class="d-inline-block"> 
            <div class="d-flex align-items-center justify-content-start">
              <i class="bi bi-file-lock-fill text-18 text-black no-min-height no-min-width lh-tiny me-2 p-0"></i>
                <span class="text-13 text-black d-inline-block">  {{'SECURE_PAYMENT_WITH_SSL_ENCRYPTION_INFO'|translate}}   </span>
            </div> 
    </div>

    <div class="d-inline-block">
 <div class="d-flex align-items-center justify-content-start">
                                           <span class="text-black text-14 font-weight-500 d-inline-block ps-3">
                                              {{'POWERED_BY'|translate}} 
                                            </span>
                                            <span class="text-black text-14 font-weight-600 d-inline-block ">
                                              Fazeal Pay
                                            </span>
                                          </div>

    </div>
</div>


