<div class="">
    <div class="row mb-4">
        <div class="col-md-12 d-flex justify-content-end">
            <button type="button" class="w-30-px h-30-px rounded-circle text-14 bg-color-ECECEC p-0 border-1-999EA8 d-flex align-items-center justify-content-center" mat-dialog-close="true">
                <img src="../../../assets/img/items/x-close.png" class="w-25-p h-25-px" alt="{{'ICONIMAGES'|translate}}">
            </button>
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-md-7">
            <div class="border p-3 bg-white rounded-3">
                <h6 class="text-30 font-weight-600 text-black text-center mob-text-16 mb-1">{{'TNT'|translate}}</h6>
                <img src="../../../assets/img/items/qrcode.png" class="w-100" alt="{{'ICONIMAGES'|translate}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <button type="button" matbutton class="text-22 font-weight-400 text-black mob-text-14">{{'ADD_PRODUCT_PRINT'|translate}}</button>
        </div>
    </div>
</div>