<app-header-theme-first
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'FourthTheme'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-first>

<app-header-theme-two
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme2'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-two>

<app-header-theme-three
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme3'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-three>

<app-header-theme-four
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme4'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-four>

<app-header-theme-five
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme5'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-five>

<app-header-theme-six
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme6'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-six>

<app-header-theme-seven
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme7'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-seven>

<app-header-theme-eight
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme8'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-eight>

<app-header-theme-nine
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme9'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-nine>

<app-header-theme-ten
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme10'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-ten>

<app-header-theme-eleven
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme11'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-eleven>

<app-header-theme-twelve
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme12'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-twelve>

<app-header-theme-thirteen
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme13'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-thirteen>

<app-header-theme-fourteen
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme14'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-fourteen>

<app-header-theme-fifteen
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme15'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-fifteen>

<app-header-theme-sixteen
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme16'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-sixteen>

<app-header-theme-seventeen
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme17'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-seventeen>

<app-header-theme-eighteen
class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme18'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-eighteen>

<app-header-theme-nineteen
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme19'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-nineteen>


<app-header-theme-twenty
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme20'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-twenty>


<app-header-theme-twentyone
  class="hide-on-print overflow-x-hidden"
  *ngIf="themeName === 'RetailTheme21'"
  [footObject]="footObject"
  [socialLinks]="socialLinks"
  [announcementBar]="announcementBar"
  [activeTheme]="activeTheme"
  [categories]="categories">
</app-header-theme-twentyone>