<section class="d-block w-100 popup-parent-rtl">
  <div class="d-block w-100">
  
  <div class="d-flex w-100 align-items-center justify-content-between border-bottom  border-color-silver px-4 py-3">
    <div class="d-inline-block">
    <h3 class="text-black text-18 m-0 p-0 font-weight-600">  {{'REVIEW_IMAGE'|translate}}  </h3>
    </div>
    <div class="d-inline-block">
      <button mat-dialog-close class="bg-color-ECECEC d-flex align-items-center justify-content-center p-1 rounded-circle outline-none">
        <mat-icon class="m-0 p-0 no-min-height no-min-width text-20 text-black">close</mat-icon>
      </button>
    </div>
  </div>

  <div class="d-block w-100 py-4 px-3 text-center">
    <img [src]="imageUrl" class="img-fluid w-100 object-fit-contain h-300-px rounded-2">
  </div>

  </div>
</section>


