<section class="py-3 plp_page bg-color-F2F4F7">
  <div class="new-container1">
    <div class="d-block w-100 mb-2">
      <h3 class="text-black font-weight-600 text-20 m-0 p-0">  {{'CANCELORDER'|translate}} </h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 m-0 border-0">
                    <li class="breadcrumb-item breadcrumb-slash-off">
                        <button routerLink="../home" class="text-14 p-0 font-weight-400 cursor-pointer text-black">
                          {{'HOME'|translate}}
                          </button>
                        <span class="d-inline-block text-grey text-16 px-2"> / </span>
                    </li>
                    <li class="breadcrumb-item breadcrumb-slash-off">
                      <button routerLink="../my-order" class="text-14 p-0 font-weight-400 cursor-pointer text-black">
                        {{'ORDERS'|translate}}
                        </button>
                      <span class="d-inline-block text-grey text-16 px-2"> / </span>
                  </li>
                    <li class="breadcrumb-item breadcrumb-slash-off" aria-current="page">
                        <b class="text-14 font-weight-400 cursor-default text-black">
                          {{'CANCELORDER'|translate}}
                        </b>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
  </div>
</section>
<section class="py-5 px-md-3 px-sm-0 px-0 plp_pr_section">
    <div class="new-container1">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between flex-md-column flex-lg-row flex-sm-column flex-column">


                    <div class="product_content_area pb-4 px-0 mx-0">
                        <div class="w-100 h-100">
                            <div class="w-100 border overflow-hidden rounded-3 h-100 pb-3">
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="searchbar_parent bg-color-F2F3F5 d-flex justify-content-start align-items-center py-3 px-4">
                                            <div class="row w-100">
                                                <div class="col-md-4 col-sm-12 col-12 d-flex flex-column justify-content-end">
                                                    <p class="text-15 font-weight-600 text-black mb-1 mob-text-13">{{'ORDER-SEC'|translate}} #abc15405431</p>
                                                    <p class="text-14 font-weight-400 text-color-475467 mb-0 mob-text-12">{{'PLACEDON'|translate}} 12 jan 2023 02:27:58</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100 p-sm-4 p-2">
                                    <div class="row mb-3">
                                        <div class="col-md-12 overflow-x-auto">
                                            <table class="table order_table">
                                                <tbody>
                                                    <tr>
                                                        <td class="border-0 w-100-px">
                                                            <div class="border rounded-2 w-100-px h-100-px d-flex align-items-center justify-content-center">
                                                                <img src="../../../assets/img/items/5.webp" class="w-100"
                                                                alt="{{'ICONIMAGES'|translate}}">
                                                            </div>
                                                        </td>
                                                        <td class="border-0">
                                                            <p class="text-15 font-weight-500 text-black mb-1 mob-text-13 mob-180-px">Waterproof Rain Poncho Lightweight Poncho -OrangeOrder #abc15405431</p>
                                                            <p class="text-14 font-weight-400 xt-lightgrey mb-3 mob-text-12">{{'COLORFAMILY'|translate}}:Orange</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <h4 class="text-18 font-weight-600 text-black mob-text-12">{{'CANCELREASON'|translate}}</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label for="exampleInputEmail1" class="text-15 mb-4 font-weight-400 text-black mob-text-12">{{'CANCELREASONSELECT'|translate}} </label>
                                                        <select class="form-select form-select-lg border text-16 mob-text-12 font-weight-400 text-lightgrey" aria-label=".form-select-lg example">
                                                            <option selected>{{'SELECT_REASON'|translate}}</option>
                                                            <option value="Delivery times is too long">{{'DELIVERYTIMEISTOLONG'|translate}}</option>
                                                            <option value="Duplicate Order">{{'DUPPLICATEORDER'|translate}}</option>
                                                            <option value="Change of delivery address">{{'CHANGEOFDELIVERYADDRESS'|translate}}</option>
                                                            <option value="Change of Mind">{{'CHANGEOFMIND'|translate}}</option>
                                                            <option value="Shipping fees">{{'SHIPPINGFEES'|translate}}</option>
                                                            <option value="Forgot to use voucher/voucher issue">{{'VOUCHERISSUE'|translate}}</option>
                                                            <option value="Decided for alternative product">{{'DECIDESFORALTERNATIVEPRODUCT'|translate}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <div class="border rounded-3 px-4 pt-4 pb-5">
                                                <form>
                                                    <div class="row mb-5">
                                                        <div class="col-md-12">
                                                            <label for="exampleInputEmail1" class="text-15 mb-4 font-weight-400 text-black">{{'CUSTOMER_COMMENTS'|translate}}</label>
                                                            <div class="position-relative">
                                                                <textarea class="form-control border bg-four-theme-lightgrey" rows="7"></textarea>
                                                                <span class="position-absolute words_counter text-15 font-weight-400 text-lightblack mob-text-12">0 / 300</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <div class="border rounded-3 px-sm-4 px-4 pt-sm-4 pt-4 pb-sm-4 pb-4">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="text-16 font-weight-400 text-black mob-text-12 mb-2">{{'YOURTOTALAMOUNT'|translate}}</p>
                                                        <h4 class="text-36 font-weight-400 text-black mob-text-16 mb-0">$25</h4>
                                                    </div>
                                                    <div class="col-md-6 d-flex align-items-end justify-content-end">
                                                        <button type="button" mat-button [routerLink]="'/FourTheme/cancel-order-return-refund'"
                                                            class="border-0 rounded-2 text-white bg-green-four-theme next_btn_return_order px-5 py-0 text-16 mob-text-12 font-weight-600">
                                                            {{'CANCELORDER'|translate}}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
