<section class="w-100 d-block popup-parent-rtl">
  <div class="d-flex w-100 align-items-center justify-content-between border-bottom  border-color-silver px-3 py-3">
    <div class="d-inline-block">
    <h3 class="text-black text-18 m-0 p-0 font-weight-600">   {{'EDIT_CUSTOMER_DETAILS'|translate}}   </h3>
    </div>
    <div class="d-inline-block">
      <button mat-dialog-close class="bg-color-ECECEC d-flex align-items-center justify-content-center p-1 rounded-circle outline-none">
        <mat-icon class="m-0 p-0 no-min-height no-min-width text-22 text-black">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="d-block w-100 py-4 px-3">

    <div class="row align-items-center mb-3">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <h5 class="text-14 text-end d-block m-0">   {{'SIGNUP_INPUTPLACEHOLDFSTNAME'|translate}}  </h5>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-12">
        <mat-form-field appearance="fill" class="w-100 field-style2">
          <input matInput type="text" [(ngModel)]="order.orderAddressResponse.firstName" class="form-control text-black text-15 h-25-px" />
        </mat-form-field>
      </div>
     </div>

     <div class="row align-items-center mb-3">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <h5 class="text-14 text-end d-block m-0">   {{'LAST_NAME_PLACEHOLDER'|translate}}  </h5>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-12">
        <mat-form-field appearance="fill" class="w-100 field-style2">
          <input matInput type="text" [(ngModel)]="order.orderAddressResponse.lastName" class="form-control text-black text-15 h-25-px" />
        </mat-form-field>
      </div>
     </div>

     <div class="row align-items-center mb-3">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <h5 class="text-14 text-end d-block m-0">   {{'SIGNUP_INPUTPLACEHOLDBUSPHNNO'|translate}}  </h5>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-12">
        <mat-form-field appearance="fill" class="w-100 field-style2">
          <input matInput type="text" [(ngModel)]="order.orderAddressResponse.phoneNumber" class="form-control text-black text-15 h-25-px" />
        </mat-form-field>
      </div>
     </div>


     <div class="row align-items-center mb-3">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <h5 class="text-14 text-end d-block m-0">   {{'EMAILADDRESS'|translate}}  </h5>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-12">
        <mat-form-field appearance="fill" class="w-100 field-style2">
          <input matInput type="text" [(ngModel)]="order.orderAddressResponse.email" class="form-control text-black text-15 h-25-px" />
        </mat-form-field>
      </div>
     </div>

     <div class="d-block w-100 text-end mt-4">
      <button [disabled]="addCustomerInfo" (click)="updateCustomerInfo()" class="px-3 py-2 text-14 bg-theme-dark-color rounded-2 text-color-w">
          {{'UPDATE_DETAILS'|translate}}
      </button>
    </div>

  </div>
</section>
