<div class="card h-100 text-white border-0">
    <img class="card-img h-100" src="./assets/img/thanksbg.png" alt="{{'UPLOAD_IMAGES'|translate}}" >
    <div class="card-img-overlay d-flex flex-column justify-content-between">
        <div class="modal-header p-3 d-flex justify-content-end">
            <button type="button" class="bg-color-999EA8 rounded-circle w-50-px text-white h-50-px text-38 d-flex align-items-center justify-content-center" (click)="closemodal()">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body p-3 d-flex align-items-end">
            <div class="row justify-content-center w-100">
                <div class="col-md-6 col-sm-8 col-12 d-flex align-items-center justify-content-center flex-column mx-auto">
                    <h5 class="text-18 font-weight-600 text-black text-center mob-text-14"> {{'SUBSCRIBEPOPUP_THANKS_FOR_LOGIN'|translate}} </h5>
                    <p class="text-16 font-weight-400 text-black text-center mob-text-12">
                        {{'SUBSCRIBEPOPUP_SUBSCRIBE_FOR_MARKETING'|translate}}
                        {{'DETAILS_FOR_THIS_SITE'|translate}}
                    </p>
                    <button type="button" (click)="closemodal()" class="my-3 border-0 rounded-2 text-white bg-green-four-theme px-2 py-sm-3 py-2 w-100 text-16 font-weight-400 mob-text-12 text-white">
                      {{'SUBSCRIBE_NOW'|translate}}
                    </button>
                    <p class="text-12 font-weight-400 text-black text-center">
                      {{'WE_PROMISE_TO_NEVER_SWAP_INBOX'|translate}}
                    </p>
                    <div>
                        <mat-checkbox class="text-12 font-weight-400 text-black text-center">  {{'FEEL_FREE_TO_AGREE_OUT_TERMS_CONDITIONS'|translate}} </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
