<section class="d-block w-100 popup-parent-rtl">
<div class="d-block w-100">

<div class="d-flex w-100 align-items-center justify-content-between border-bottom  border-color-silver px-4 py-3">
  <div class="d-inline-block">
  <h3 class="text-black text-18 m-0 p-0 font-weight-600">  {{'RESET_PASSWORD'|translate}} </h3>
  </div>
  <div class="d-inline-block">
    <button mat-dialog-close class="bg-color-ECECEC d-flex align-items-center justify-content-center p-1 rounded-circle outline-none">
      <mat-icon class="m-0 p-0 no-min-height no-min-width text-20 text-black">close</mat-icon>
    </button>
  </div>
</div>

<!-- Enter Email Address Starts Here -->
<div class="d-block w-100 py-4 px-4" *ngIf="!otpGenerated && !emailVerified">
<div class="d-block w-100 mb-4 text-center">
  <h4 class="text-black text-16 font-weight-600 mt-0 mb-2">    {{'WE_NEED_TO_VERIFY_YOUR_IDENTITY'|translate}}  </h4>
  <p class="text-black text-14 m-0 p-0">   {{'PLEASE_ENTER_EMAIL_ADDRESS_FOR_OTP'|translate}}  </p>
</div>
<div class="d-block w-100">
  <div class="d-block w-100  mb-3">
    <mat-form-field appearance="fill" class="w-100 field-style2">
      <mat-label class="text-muted text-14">    {{'EMAILADDRESS'|translate}}  </mat-label>
      <input matInput type="email" [(ngModel)]="email" class="form-control text-black text-15 h-30-px"/>
    </mat-form-field>
    <div class="d-block w-100" *ngIf="emailInvalid">
    <p class="m-0 p-0 text-danger text-13">{{'EMAIL_INVALID'|translate}}  </p>
    </div>
  </div>
  <div class="d-block w-100">
    <button [disabled]="!email" (click)="verifyEmail()" class="text-white text-15 px-2 py-2 lh-lg m-0 p-0 w-100 bg-theme-dark-color rounded-2">
        {{'SEND_OTP'|translate}}
    </button>
  </div>
</div>
</div>
<!-- Enter Email Address Ends Here -->

<!-- Enter OTP Starts Here -->
<div class="d-block w-100 py-4 px-4" *ngIf="otpGenerated">
  <div class="d-block w-100 mb-4 text-center">
    <h4 class="text-black text-16 font-weight-600 mt-0 mb-2">     {{'ENTER_THE_TOKEN'|translate}}  </h4>
    <p class="text-black text-14 m-0 p-0">   {{'PLEASE_CHECK_THE_EMAIL_ADDRES_DURING_SIGNUP'|translate}}  </p>
  </div>
  <div class="d-block w-100">
    <div class="d-block w-100  mb-3 text-center">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10 col-12">
          <div class="d-block w-100">
            <mat-form-field appearance="fill" class="w-100 field-style2">
              <mat-label class="text-muted text-14">    {{'TOKEN'|translate}}  </mat-label>
              <input matInput type="text" [(ngModel)]="token" class="form-control text-black text-15 h-30-px"/>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="d-block w-100">
      <button [disabled]="!token" (click)="checkValid()" class="text-white text-15 px-2 py-2 lh-lg m-0 p-0 w-100 bg-theme-dark-color rounded-2">
         {{'SUBMIT_OTP'|translate}}
      </button>
    </div>
    <div class="d-flex w-100 align-items-center justify-content-center">
      <button (click)="verifyEmail()" class="px-3 py-2 lh-lg text-18 text-black border-bottom border-color-black">
         <b class="text-black text-15 font-weight-500">   {{'RESEND_OTP'|translate}}  </b>
      </button>
    </div>
  </div>
  </div>
<!-- Enter OTP Ends Here -->


<!-- Create a New Password Starts Here -->
<div class="d-block w-100 py-4 px-4" *ngIf="emailVerified && !successMessageShow">
  <div class="d-block w-100 mb-4 text-center">
    <h4 class="text-black text-16 font-weight-600 mt-0 mb-2">    {{'CREATE_A_NEW_PASSWORD'|translate}}  </h4>
    <p class="text-black text-14 m-0 p-0">   {{'MINIMUM_8_CHARACTERS_ONE_SMALL_ONE_CAPITAL'|translate}}  </p>
  </div>
  <div class="d-block w-100">
    <div class="d-block w-100  mb-3">
      <div class="d-block w-100 position-relative">
        <mat-form-field appearance="fill" class="w-100 field-style2">
          <mat-label class="text-muted text-14">   {{'NEW_PASSWORD'|translate}}  </mat-label>
          <input matInput [type]=" hidenewpassword ? 'password' : 'text'" [(ngModel)]="newPassword"
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&]).{8,}" #password="ngModel"
           class="form-control text-black text-15 h-30-px"/>
        </mat-form-field>
        <button (click)="hidenewpassword = !hidenewpassword" type="button" class="position-absolute end-0 top-0 p-2 d-flex align-items-center justify-content-center mt-2 me-1">
          <i *ngIf="hidenewpassword" class="bi bi-eye-slash-fill lh-tiny text-black no-min-height no-min-width text-18"></i>
          <i *ngIf="!hidenewpassword" class="bi bi-eye-fill lh-tiny text-black no-min-height no-min-width text-18"></i>
        </button>
      </div>
      <div class="d-block w-100" *ngIf="showErrors && password.invalid">
      <p class="m-0 p-0 text-danger text-13" *ngIf="password.errors?.['pattern']"> {{'PWDATLEAST8CHARACTERLONG'|translate}} </p>
      </div>
    </div>
    <div class="d-block w-100  mb-3">
      <div class="d-block w-100 position-relative">
        <mat-form-field appearance="fill" class="w-100 field-style2">
          <mat-label class="text-muted text-14">   {{'CONFIRM_PASSWORD'|translate}}  </mat-label>
          <input matInput [type]=" hideconfirmpassword ? 'password' : 'text'" required [(ngModel)]="confirmPassword" #confirmpassword="ngModel"
           class="form-control text-black text-15 h-30-px" (ngModelChange)="checkPasswords(confirmPassword)" />
        </mat-form-field>
        <button (click)="hideconfirmpassword = !hideconfirmpassword" type="button" class="position-absolute end-0 top-0 p-2 d-flex align-items-center justify-content-center mt-2 me-1">
          <i *ngIf="hideconfirmpassword" class="bi bi-eye-slash-fill lh-tiny text-black no-min-height no-min-width text-18"></i>
          <i *ngIf="!hideconfirmpassword" class="bi bi-eye-fill lh-tiny text-black no-min-height no-min-width text-18"></i>
        </button>
      </div>
      <div *ngIf="showErrors && confirmpassword.invalid" class="text-danger">
        <p class="m-0 p-0 text-danger text-13" *ngIf="confirmpassword.errors?.['pattern']"> {{'FEILD_REQUIRED'|translate}} </p>
    </div>
    <div *ngIf="passwordMismatch && confirmpassword.touched">
      <p class="m-0 p-0 text-danger text-13"> {{'PASSWORDS_DONOT_MATCH'|translate}} </p>
    </div>
    </div>
    <div class="d-block w-100">
      <button (click)="validateAndResetPassword()" class="text-white text-15 px-2 py-2 lh-lg m-0 p-0 w-100 bg-theme-dark-color rounded-2">
         {{'RESET_PASSWORD'|translate}}
      </button>
    </div>
  </div>
  </div>
<!-- Create a New Password Ends Here -->

<!-- Password Updated Success Starts Here -->
<div class="d-block w-100 py-5 px-4" *ngIf="successMessageShow">
  <div class="d-block w-100 py-3 text-center">
    <img class="w-60-px h-60-px mb-3" src="../../assets/img/success-check-icon1.svg" alt="{{'YOUR_NEW_PASSWORD_HAS_BEEN_UPDATED'|translate}}">
    <p class="text-black text-16 m-0 p-0 font-weight-500">   {{'YOUR_NEW_PASSWORD_HAS_BEEN_UPDATED'|translate}}  </p>
  </div>
  </div>
<!-- Password Updated Success Ends Here -->

</div>
</section>
