$msv-breakpoint-xs: 0px;
$msv-breakpoint-s: 0px;
$msv-breakpoint-xxxsm: 320px;
$msv-breakpoint-xxsm: 375px;
$msv-breakpoint-xsm: 425px;
$msv-breakpoint-sm: 576px;
$msv-breakpoint-m: 767px;
$msv-breakpoint-l: 991px;
$msv-breakpoint-ml: 1366px;
$msv-breakpoint-xl: 1440px;
$msv-breakpoint-xxl: 1920px;
$msv-breakpoint-xl-max: 1439px;
$msv-breakpoint-ml-max: 1200px;
$msv-breakpoint-l-max: 1023px;

$msv-gutter-width-s: 16px;
$msv-gutter-width-m: 20px;
$msv-gutter-width-l: 60px;

$msv-container-max-width-s: 768px;
$msv-container-max-width-m: 992px;
$msv-container-max-width-ml: 1024px;
$msv-container-max-width-l: 1440px;

$msv-container-min-width-m: 769px;

/* samsung galaxy a51*/
$msv-container-max-width-mobile-sp: 412px;
$msv-container-max-height-mobile-sp: 915px;
