<section class="pt-3">
    <div class="new-container1">
        <div class="row">
            <div class="col-12 mb-md-0 mb-sm-3 mb-3 mb-lg-0">
                <div class="card border-0 rounded-2 overflow-hidden h-100">
                    <img src="../../../assets/img/items/lefttopbanner.jpg" class="card-img theme-four-banner-h w-100"
                        alt="{{'TOPBANNER'|translate}}">
                    <div class="card-img-overlay d-flex align-items-center justify-content-start ps-5">
                        <div>
                            <h5 class="text-20 font-weight-500 text-black mb-0 mob-text-12">{{'SAVEUPTO'|translate}}
                            </h5>
                            <h2 class="text-57 font-weight-700 text-green-four-theme mb-0 mob-text-20">30%   {{'OFF'|translate}} </h2>
                            <p class="text-20 font-weight-500 text-black mb-2 mob-text-12">{{'ONALLTYPETEXT'|translate}}
                            </p>
                            <button type="button"
                                class="border-0 rounded-2 text-white bg-green-four-theme py-md-2 py-sm-1 py-1 px-md-4 px-sm-4 px-4 text-20 mob-text-12 font-weight-500">
                                {{'VIEWMORE'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-4">
    <div class="new-container1">
        <div class="alert_top four-theme-border-green row px-md-0 pe-0 ps-sm-0 ps-0 px-lg-auto py-3 align-items-sm-center rounded-2 w-100 mx-0">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-md-3 mb-sm-3 mb-3 mb-lg-0">
                <p class="mb-0 text-20 text-black font-weight-600 mob-text-14 text-md-center text-sm-center text-center text-lg-start">
                    {{'SHOPANDSAVEBIGHOTTESTPRODUCTS'|translate}}</p>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center flex-lg-row flex-md-column flex-sm-column flex-column">
                <div>
                    <h3 class="mb-0 text-30 text-black font-weight-600 mob-text-14 text-lg-end text-md-center text-sm-center text-center"> {{'FROM'|translate}}  $79.00</h3>
                    <p class="mb-0 text-20 text-black font-weight-400 mob-text-14 text-lg-end text-md-center text-sm-center text-center">
                        {{'DONTMISSTHESPECIAL'|translate}}</p>
                </div>
                <div class="ms-lg-3 ms-md-0 ms-sm-0 ms-0 mt-md-3 mt-sm-3 mt-3 mt-lg-0">
                    <button type="button"
                        class="border-0 rounded-2 text-white bg-green-four-theme py-2 px-4 text-20 mob-text-12 font-weight-500">
                        {{'SHOPNOW'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section> 
<section  class="pt-3 pb-5 px-md-3 px-sm-0 px-0 plp_pr_section">
    <div class="new-container1">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="d-flex justify-content-between flex-md-column flex-lg-row flex-sm-column flex-column">
                    <div class="left_side_bar_menu">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <h3 class="border-bottom text-20 font-weight-600 mb-0 pb-2">{{'PRODUCTCATEGORIES'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Bed Room Furniture
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Living Room Furniture

                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Dining Room Furniture
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Work Series
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Prestige Furniture
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Outdoor Furniture
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Office Furniture
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Augmented Reality
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Wedding Packages</a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Bargain Series
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <h3 class="border-bottom text-18 font-weight-600 mb-0 pb-2">{{'AVAILABILITY'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2 py-2 border-bottom-0">
                                        <div class="instock_check">
                                            <mat-checkbox class="w-100">
                                                <div class="w-100 d-flex justify-content-between">
                                                    <span class="text-18 font-weight-400 ms-2 d-block">{{'INSTOCK'|translate}}</span>
                                                    <span class="text-18 font-weight-600">450</span>
                                                </div>
                                            </mat-checkbox>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <h3 class="border-bottom text-18 font-weight-600 mb-0 pb-2">{{'PRICE'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row ngx_slider_custom">
                            <div class="col-md-12">
                                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                            </div>
                        </div>
                        <div class="row align-items-center mt-3">
                            <div class="col-md-5">
                                <input type="number" [(ngModel)]="minValue" class="form-control border">
                            </div>
                            <div class="col-md-2">
                                <span>{{'TO'|translate}}</span>
                            </div>
                            <div class="col-md-5">
                                <input type="number" [(ngModel)]="maxValue" class="form-control border">
                            </div>
                        </div>
                        <div class="row align-items-center mt-3 mb-4">
                            <div class="col-md-12">
                                <button type="button"
                                    class="border-0 rounded-2 text-white bg-green-four-theme py-md-2 py-sm-1 py-1 w-100 text-16 mob-text-12 font-weight-600">
                                    {{'APPLY'|translate}}
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <h3 class="border-bottom text-18 font-weight-600 mb-0 pb-2">{{'COLORS'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12 ">
                                <div class="d-flex flex-wrap color_list">
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <h3 class="border-bottom text-18 font-weight-600 mb-0 pb-2">{{'BRANDS'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2 border-bottom-0">
                                        <div class="instock_check">
                                            <mat-checkbox class="w-100">
                                                <div class="w-100 d-flex justify-content-between">
                                                    <span class="text-16 font-weight-500 ms-2">{{'IKEA'|translate}}</span>
                                                </div>
                                            </mat-checkbox>
                                        </div>
                                    </li>
                                    <li class="mb-2 border-bottom-0">
                                        <div class="instock_check">
                                            <mat-checkbox class="w-100">
                                                <div class="w-100 d-flex justify-content-between">
                                                    <span class="text-16 font-weight-500 ms-2">{{'West Elm'|translate}}</span>
                                                </div>
                                            </mat-checkbox>
                                        </div>
                                    </li>
                                    <li class="mb-2 border-bottom-0">
                                        <div class="instock_check">
                                            <mat-checkbox class="w-100">
                                                <div class="w-100 d-flex justify-content-between">
                                                    <span class="text-16 font-weight-500 ms-2">{{'Herman Miller'|translate}}</span>
                                                </div>
                                            </mat-checkbox>
                                        </div>
                                    </li>
                                    <li class="mb-2 border-bottom-0">
                                        <div class="instock_check">
                                            <mat-checkbox class="w-100">
                                                <div class="w-100 d-flex justify-content-between">
                                                    <span class="text-16 font-weight-500 ms-2">{{'Steelcase'|translate}}</span>
                                                </div>
                                            </mat-checkbox>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product_content_area">
                        <div class="w-100 border overflow-hidden rounded-3">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="searchbar_parent bg-color-F2F3F5 d-flex justify-content-start align-items-center py-3 px-4">
                                        <div class="row w-100">
                                            <div class="col-md-4 d-flex flex-column justify-content-end">
                                                <p class="text-15 font-weight-600 text-black mb-1">{{'ORDER-SEC'|translate}} #abc15405431</p>
                                                <p class="text-14 font-weight-400 text-color-475467 mb-0">{{'PLACEDON'|translate}} 12 jan 2023 02:27:58</p>
                                            </div>
                                            <div class="col-md-4 d-flex align-items-end">
                                                <p class="text-14 font-weight-400 text-color-475467 mb-0">{{'DELIVEREDON'|translate}} 16 jan 2023</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-md-4 p-sm-0 p-0">
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <table class="table order_table">
                                            <tbody>
                                                <tr>
                                                    <td class="border-0 w-100-px">
                                                        <div class="border rounded-2 w-100-px h-100-px d-flex align-items-center justify-content-center">
                                                            <img src="../../../assets/img/items/5.webp" class="w-100"
                                                            alt="{{'ICONIMAGES'|translate}}">
                                                        </div>
                                                    </td>
                                                    <td class="border-0">
                                                        <p class="text-15 font-weight-500 text-black mb-1 mob-text-13">Waterproof Rain Poncho Lightweight Poncho -OrangeOrder #abc15405431</p>
                                                        <p class="text-14 font-weight-400 xt-lightgrey mb-3 mob-text-12">{{'COLORFAMILY'|translate}}:Orange</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-8">
                                        <div class="w-100 p-4">
                                            <div class="row mb-5">
                                                <div class="col-md-12">
                                                    <span class="me-2">
                                                        <img src="../../../assets/img/items/star6.svg" class="w-71-px h-71-px mob-w-20-px mob-h-20-px" alt="{{'ICONIMAGES'|translate}}">
                                                    </span>
                                                    <span class="me-2">
                                                        <img src="../../../assets/img/items/star6.svg" class="w-71-px h-71-px mob-w-20-px mob-h-20-px" alt="{{'ICONIMAGES'|translate}}">
                                                    </span>
                                                    <span class="me-2">
                                                        <img src="../../../assets/img/items/star6.svg" class="w-71-px h-71-px mob-w-20-px mob-h-20-px" alt="{{'ICONIMAGES'|translate}}">
                                                    </span>
                                                    <span class="me-2">
                                                        <img src="../../../assets/img/items/star6.svg" class="w-71-px h-71-px mob-w-20-px mob-h-20-px" alt="{{'ICONIMAGES'|translate}}">
                                                    </span>
                                                    <span class="me-2">
                                                        <img src="../../../assets/img/items/star6.svg" class="w-71-px h-71-px mob-w-20-px mob-h-20-px" alt="{{'ICONIMAGES'|translate}}">
                                                    </span>
                                                    <span class="text-16 font-weight-400 text-black mob-text-12">
                                                        {{'VERYGOOD'|translate}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-12">
                                                    <div>
                                                        <p class="text-16 font-weight-400 text-black mob-text-12">{{'PLEASESHAREYOU'|translate}}</p>
                                                    </div>
                                                    <div class="position-relative">
                                                        <textarea class="form-control border input-focus-none-checkout" rows="5"></textarea>
                                                        <span class="position-absolute words_counter text-15 font-weight-400 text-lightblack mob-text-12">0 / 200</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-12">
                                                    <div>
                                                        <label for="exampleFormControlInput1" class="form-label text-black font-weight-400 text-16 mob-text-12">{{'WRIEYOUREMAILADDRESS'|translate}}</label>
                                                        <input type="email" class="form-control h-50-px input-focus-none-checkout" id="exampleFormControlInput1" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-5">
                                                <div class="col-md-8">
                                                    <div class="border px-2 rounded-3 py-4 bg-four-theme-lightgrey d-flex justify-content-center align-items-center flex-md-row flex-sm-column flex-column">
                                                        <!-- <label for="upload"></label>
                                                        <input type="file" id="upload" class="d-none"> -->
                                                        <div class="me-3">
                                                            <img src="../../../assets/img/items/imageupload.svg" width="52px" height="52px"
                                                                alt="{{'TOPBANNER'|translate}}">
                                                        </div>
                                                        <div>
                                                            <p class="mb-0 text-12 font-weight-400 mob-text-11 text-md-start text-sm-start text-center"><span class="text-14 font-weight-600 mob-text-12 text-color-6941C6">{{'UPLOAD_YOUR'|translate}}</span><span class="textcolorgrey text-12 mob-text-12 font-weight-400"> {{'DRAG_DROP'|translate}}</span></p>
                                                            <p class="mb-0 text-12 font-weight-400 textcolorgrey mob-text-11 text-md-start text-sm-start text-center">{{'IMAGEFORMAT'|translate}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-sm-center justify-content-between mt-2">
                                                        <span class="text-13 font-weight-600 text-lightgrey me-2 white-space-nowrap">{{'NOTE'|translate}}</span><span class="me-2 white-space-nowrap text-lightgrey text-12 font-weight-400">{{'UPTOIMAGEGES'|translate}}</span><span class="text-12 white-space-nowrap text-lightgrey mob-text-12 font-weight-400">{{'MAXMB'|translate}}</span>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="row mt-3">
                                                <div class="col-md-12">
                                                    <button type="button" class="rounded-2 btn-lg bg-white text-lightblack border-1-black text-16 font-weight-600 me-3 py-2 px-sm-5 px-3 mob-text-12">{{'CANCLE'|translate}}</button>
                                                    <button routerLink="/FourTheme/my-order" type="button" class="rounded-2 btn-lg text-white border-1-1A765F bg-green-four-theme text-16 font-weight-600 mob-text-12 py-2 px-sm-5 px-3">{{'SUBMIT'|translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="getUpdatesection bg-color-b py-5">
    <div class="new-container1">
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12 col-12 col-md-12">
                <div class="row">
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 co-12">
                        <h3 class="text-30 font-weight-600 text-white mob-text-20">{{'GETOURUPDATE'|translate}}</h3>
                        <p class="text-20 font-weight-400 text-lightgrey mob-text-14">{{'GETOURUPDATE_CONTENT'|translate}}</p>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 co-12">
                        <form>
                            <div class="form-group d-flex">
                                <input type="email" class="form-control text-16 font-weight-400 bg-white rounded-2 border" placeholder="{{'ENTER_YOUR_EMAIL'|translate}}">
                                <button type="submit" class="border-0 ms-3 rounded-2 bg-theme-dark-color text-color-w text-first-light-color px-2 text-16 font-weight-600">{{'PICK_A_PLAN_SUBSCRIBE'|translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
