<section class="py-3 plp_page bg-color-F2F4F7">
  <div class="new-container1">
    <div class="d-block w-100 mb-2">
      <h3 class="text-black font-weight-600 text-20 m-0 p-0">   {{'SHOPPING_CART' |translate}} </h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 m-0 border-0">
                    <li class="breadcrumb-item breadcrumb-slash-off">
                        <button routerLink="../home" class="text-14 p-0 font-weight-400 cursor-pointer text-black">
                          {{'HOME'|translate}}
                          </button>
                        <span class="d-inline-block text-grey text-16 px-2"> / </span>
                    </li>
                    <li class="breadcrumb-item breadcrumb-slash-off" aria-current="page">
                        <b class="text-14 font-weight-400 cursor-default text-black">
                          {{'SHOPPING_CART' |translate}}
                        </b>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
  </div>
</section>

<section class="py-5 px-3">

    <div class="new-container1" *ngIf="cartMessages?.length! > 0">
        <div class="d-block w-100 border border-color-silver rounded-3 mb-4">
        <div class="d-block w-100 py-3 px-2 bg-theme-light-color">
        <h4 class="text-black font-weight-600 text-18 m-0"> {{'ESSENTIAL_UPDATES_REGARDING_THE_ITEMS_IN_YOUR_CART' | translate}}   </h4>
        </div>
        <div class="d-block w-100 px-2 py-4">
          <ul class="m-0">
          <li class="text-black text-15 mb-2">
                {{ 'ITEMS_IN_YOUR_SHOPPING_CART_WILL_ALWAYS_SHOW_MOST_UPTODATE' | translate }}.
          </li>
          </ul>
          <ul class="m-0" *ngIf="cartMessages?.length! > 0">
          <li *ngFor="let message of cartMessages; let i = index" class="text-black text-15 mb-2">
          <p *ngIf="message?.message === 'PRODUCT_UNAVAILABLE'">
                  {{ 'THE' | translate }}  {{ message?.productName | titlecase }} {{ 'NO_LONGER' | translate }}.
          </p>
          <p *ngIf="message?.message === 'PRODUCT_PRICE_INCREASED'">
                  {{ 'THE_PRICE_OF' | translate }}  {{ message?.productName | titlecase }} {{ 'HAS_INCREASED_FROM' | translate }}
                  {{ currencySymbol }} {{ message?.from }} {{ 'TO' | translate }} {{ currencySymbol }} {{ message?.to }}.
          </p>
          <p *ngIf="message?.message === 'PRODUCT_PRICE_DECREASED'">
                  {{ 'THE_PRICE_OF' | translate }}  {{ message?.productName | titlecase }} {{ 'HAS_DECREASED_FROM' | translate }}
                  {{ currencySymbol }} {{ message?.from }} {{ 'TO' | translate }} {{ currencySymbol }} {{ message?.to }}.
          </p>
          <p *ngIf="message?.message === 'PRODUCT_QUANTITY_DECREASED'">
                  {{ 'THE_QUANTITY_OF' | translate }}  {{ message?.productName | titlecase }} {{ 'HAS_DECREASED_FROM' | translate }}
                  {{ message?.from }} {{ 'TO' | translate }} {{ message?.to }}.
          </p>
          <p *ngIf="message?.message === 'PRODUCT_ON_ORDER_LIMIT_DECREASED'">
                  {{ 'THE_QUANTITY_OF' | translate }}  {{ message?.productName | titlecase }} {{ 'HAS_DECREASED_FROM' | translate }}
                  {{ 'DUE_TO_ORDER_LIMIT' | translate }} {{ message?.from }} {{ 'TO' | translate }} {{ message?.to }}.
          </p>
          <p *ngIf="message?.message === 'PRODUCT_ON_ORDER_LIMIT_REMOVED'">
                  {{ 'THE' | translate }}  {{ message?.productName | titlecase }} {{ 'REMOVED_DUE_TO_ORDER_LIMIT' | translate }}.
          </p>
          <p *ngIf="message?.message === 'PRODUCT_OUT_OF_STOCK'">
                  {{ 'THE' | translate }}  {{ message?.productName | titlecase }} {{ 'OUT_OF_STOCK' | translate }}.
          </p>
          </li>
          </ul>
          </div>
        </div>
    </div>
    <div class="new-container1" *ngIf="!(!shoppingCart || shoppingCart.cartItemResponseList.length === 0)">
        <div class="row">
            <div class="col-md-12 col-xxl-8 col-xl-8 col-lg-8 col-sm-12 col-12">
                <div class="w-100 pe-lg-3 pe-md-0 pe-sm-0 pe-0">
                    <div class="row mx-0">
                        <div class="col-md-12 px-0 overflow-auto modern-scroll">
                            <table class="checkout_table" *ngFor="let item of shoppingCart?.cartItemResponseList; let i = index">
                                <tbody>
                                    <tr class="border-bottom-1-999EA8 border-top-0 position-relative" >
                                        <!-- S.no Starts Here -->
                                        <td class="border-top-0 px-3 py-2">
                                        <span class="text-black text-14 font-weight-400 d-inline-block py-2">   {{i + 1}} </span>
                                        </td>
                                         <!-- S.no Starts Here -->
                                        <!-- Product Image Starts Here -->
                                        <td class="w-10 border-top-0 px-3 py-2">
                                            <div class="d-inline-block py-2">
                                                <img [routerLink]="['/', subdomain, 'product', item?.categoryName, item?.productId]" src="{{item.itemImage}}" class="h-130-px w-auto object-fit-contain rounded-2 m-0 cursor-pointer" onerror="this.src='./assets/img/default-product.png'"
                                                alt="{{'SHOPBYCATEGORY'|translate}}">
                                            </div>
                                        </td>
                                         <!-- Product Image Ends Here -->
                                         <!-- Product Name Starts Here -->
                                        <td class="w-65 border-top-0 px-3 py-2">
                                            <div class="d-block w-100 py-2">

                                                  <p  [routerLink]="['/', subdomain, 'product', item?.categoryName, item?.productId]" class="cursor-pointer text-16 font-weight-600 text-black mb-2 mob-text-13">
                                                    {{item?.productName | titlecase}}
                                                  </p>
                                                  <p [routerLink]="['/', subdomain, 'product', item?.categoryName, item?.productId]" *ngIf="item.itemVariantList.length > 0" class="d-flex cursor-pointer w-100 align-items-center flex-wrap justify-content-start">
                                                    <span class="font-weight-500 text-capitalize d-inline-block bg-theme-light-color px-2 py-1 text-black border border-color-silver me-2 mb-1" *ngFor="let attr of item.itemVariantList">
                                                        {{attr?.attributeValue}}
                                                    </span>
                                                  </p>
                                                  <p class="ms-1 text-success" *ngIf="item?.cartItemPromotionResponses?.length! > 0">
                                                    <span class="ms-1 text-success" *ngFor="let prom of item?.cartItemPromotionResponses">
                                                      {{prom?.name}}
                                                    </span>
                                                  </p>
                                                  <p class="w-100 m-0">
                                                    <span *ngIf="item.availableQuantity > 5" class="d-inline-block text-success font-weight-500 py-1 rounded-2 text-14">
                                                      {{item?.availableQuantity}} {{'INSTOCK' | translate}}
                                                     </span>
                                                    <span *ngIf="item.availableQuantity <= 5" class="d-inline-block text-danger font-weight-500 py-1 rounded-2 text-14">
                                                      {{item?.availableQuantity}} {{'INSTOCK' | translate}} {{'BUY_SOON' | translate}}
                                                    </span>
                                                  </p>
                                                  <div class="d-flex align-items-center justify-content-start pt-2">
                                                      <input [disabled]="item.promotionItem" type="number" min="1" (input)="onChangesQuantity($event, item)"
                                                       class="bg-white border border-color-silver font-weight-600 h-34-px p-0 rounded-0 rounded-2 text-20 text-center w-70-px" [(ngModel)]="item.quantity">
                                                      <button [disabled]="item.quantity > item.availableQuantity" (click)="updateQuantity(item, shoppingCart.id)" class="bg-theme-dark-color text-white text-14 py-1 px-2 rounded-2 ms-2">
                                                         {{'UPDATE_QUANTITY'|translate}}
                                                      </button>
                                                  </div>
                                                  <p class="text-color-D92D20 mb-0" *ngIf="item.quantity > item.availableQuantity">
                                                      {{'SORRYWEHAVEONLY'|translate}} {{item?.availableQuantity}} {{'AVAILABLEPRODUCTS'|translate}}
                                                  </p>
                                            </div>
                                        </td>
                                        <!-- Product Name Ends Here -->
                                        <!-- Product Price Starts Here -->
                                        <td class="w-25 border-top-0 px-3 py-2">
                                            <div class="d-flex flex-column align-items-end w-100 py-2">
                                            <!-- Sale Pricings Starts Here -->
                                            <div *ngIf="item && item.salePrice != null && item.price != null && item.salePrice < item.price" class="mb-2 text-12 font-weight-400 text-color-w rounded-2 px-2 py-1 text-center text-first-light-color bg-theme-dark-color text">
                                            You Got {{(item.price - item.salePrice)*100 / item.price| number:'1.0-2'}}% Off
                                            </div>
                                            <div *ngIf="item && item.salePrice != null && item.price != null && item.salePrice < item.price" class="mb-2 text-16 font-weight-600 text-danger">
                                            {{currencySymbol}}{{(item.salePrice * item.quantity).toFixed(2)}}
                                            </div>
                                            <div *ngIf="item && item.salePrice != null && item.price != null && item.salePrice < item.price" class="text-14 font-weight-500 text-muted d-flex text-capitalize">
                                            {{'LISTPRICE'|translate}}: <s>{{currencySymbol}}{{(item.price * item.quantity).toFixed(2)}}</s>
                                            </div>
                                            <!-- Sale Pricings Starts Here -->
                                            <!-- Normal Pricings Starts Here -->
                                            <div *ngIf="item && item.salePrice != null && item.price != null && item.price == item.salePrice" class="mb-2 text-16 font-weight-600 text-black">
                                            {{currencySymbol}}{{(item.salePrice * item.quantity).toFixed(2)}}
                                            </div>
                                            <!-- Normal Pricings Starts Here -->
                                            </div>
                                        </td>
                                        <!-- Product Price Ends Here -->

                                        <td class="border-top-0 text-center px-3 py-2">
                                            <div class="d-flex w-100 align-items-center justify-content-center py-2">
                                            <button class="p-2 bg-grey rounded-circle border border-color-silver d-flex align-items-center justify-content-center" (click)="removeItemFromCart(item.id, shoppingCart.id, item)">
                                                <i class="bi bi-trash-fill text-black text-18 p-0 m-0 lh-tiny no-min-height no-min-width"></i>
                                            </button>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- <tr class="border-bottom-1-999EA8 border-top-0 position-relative" >
                                    <td colspan="5" class="p-0">

                                        <div class="d-flex flex-wrap align-items-center justify-content-start w-100 bg-danger-subtle py-2 px-2 bottom-0 start-0 ">
                                            <h5 class="text-black font-weight-500 text-14 my-1 w-100">    {{'THIS_ITEM_IS_CURRENTLY_OUT_OF_STOCK'|translate}} </h5>
                                            <h5 class="text-black font-weight-500 text-14 my-1 w-100">  {{'EXCEEDED_ALLOWED_PURCHASE_LIMIT'|translate}}  </h5>
                                            <h5 class="text-black font-weight-500 text-14 my-1 w-100">   {{'PRODUCT_UNAVAILABLE_THIS_PRODUCT_IS_NO_LONGER_AVAILABLE'|translate}}   </h5>
                                           </div>
                                    </td>
                                    </tr> -->

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-3 mx-0">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" routerLink="/{{subdomain}}/home" class="bg-theme-dark-color text-15 font-weight-400 text-color-w text-first-light-color rounded-2 px-4 py-2 mx-1">{{'CONTINUE_SHOPING'|translate}}</button>
                            <button type="button" (click)="removeAllItemsFromCart()" class="bg-color-D92D20 text-15 font-weight-400 text-white rounded-2 px-4 py-2 mx-1">{{'CLEARALL'|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xxl-4 col-xl-4 col-lg-4 col-sm-12 col-12 mt-md-3 mt-sm-3 mt-3 mt-lg-0">
                <div class="card border">
                    <div class="w-100 border-bottom px-3 py-3 mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="text-18 font-weight-600 text-black mb-0">
                                    {{'CARTSUMMARY'|translate}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="d-block w-100 position-relative">
                    <div class="w-100 p-3">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <!-- new design -->
                                <ul class="list-unstyled">
                                    <li class="border-0 py-2 d-flex justify-content-between align-items-center">
                                        <span class="text-15 font-weight-400 text-black">{{'TOTALITEMS'|translate}} ({{shoppingCart?.cartItemResponseList?.length}})</span>
                                        <span class="text-15 font-weight-400 text-black">{{currencySymbol}}{{shoppingCart?.totalItemsPrice}}</span>
                                    </li>
                                    <li *ngIf="shoppingCart.totalPromoitionDiscount > 0" class="border-0 py-2 d-flex justify-content-between align-items-center">
                                      <span class="text-15 font-weight-400 text-black">{{'PROMOTIONS-SEC'|translate}} (-)</span>
                                      <span class="text-15 font-weight-400 text-black">{{currencySymbol}}{{shoppingCart?.totalPromoitionDiscount| number:'1.0-2'}}</span>
                                  </li>
                                    <li *ngIf="shoppingCart.totalDiscount > 0" class="border-0 py-2 d-flex justify-content-between align-items-center">
                                        <span class="text-15 font-weight-400 text-black">{{'DISCOUNTS'|translate}} (-) </span>
                                        <span class="text-15 font-weight-400 text-black">{{currencySymbol}}{{shoppingCart?.discount| number:'1.0-2'}}</span>
                                    </li>
                                    <li *ngIf="shoppingCart.totalApplicableTaxes > 0" class="border-0 py-2 d-flex justify-content-between align-items-center">
                                      <span class="text-15 font-weight-400 text-black">{{'ESTIMATESTAX'|translate}} (+) </span>
                                      <span class="text-15 font-weight-400 text-black">{{currencySymbol}}{{shoppingCart?.totalApplicableTaxes| number:'1.2-2'}}</span>
                                  </li>
                                </ul>
                                <!-- new design -->
                            </div>
                        </div>

                        <!-- Coupon Code Starts Here -->
                        <!-- <div class="border rounded-2 p-3 mb-3">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="input-group border rounded-2 bg-color-si h-100">
                                        <input type="text" [(ngModel)]="promocode" class="form-control border-0 input-focus-none-checkout p-2 h-100 bg-color-si">
                                        <span class="input-group-text border-0 bg-color-si rounded-0 h-100 p-2 d-flex align-items-center justify-content-center">
                                            <mat-icon class="text-16 text-black d-flex align-items-center justify-content-center">close</mat-icon>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12 mt-sm-0 mt-3">
                                    <button type="button" (click)="applyPromocode(promocode)"
                                        class=" border-0 h-100 rounded-2 bg-theme-dark-color text-color-w text-first-light-color p-2 w-100 text-16 mob-text-14 font-weight-400 e">{{'APPLYCOUPON'|translate}}</button>
                                </div>
                                <div class="col-12 mt-3" *ngIf="isFailed">
                                    <div class="alert alert-warning text-center">
                                        {{promoCodeErrorMessage}}
                                    </div>
                                </div>
                                <div class="col-12 mt-3" *ngIf="isSuccess">
                                    <div class="alert alert-success text-center">
                                        {{successMessage}}
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- Coupon Code Ends Here -->

                        <div class="w-100 py-3 mb-2" *ngIf="allPromotionResponses.length > 0">
                          <div class="row">
                              <div>  {{'APPLIED_PROMOTIONS'|translate}} </div>
                              <div class="col-md-12" *ngFor="let promo of allPromotionResponses">
                                  <ul class="list-unstyled m-0">
                                      <li class="border-0 py-2 d-flex justify-content-between align-items-center">
                                          <span class="text-15 font-weight-400 text-danger">{{promo?.name}}</span>
                                          <!-- <span class="text-15 font-weight-400 text-black" *ngIf="promo.discountAmount > 0">(-) {{currencySymbol}}{{promo?.discountAmount}}</span> -->
                                      </li>
                                  </ul>
                              </div>
                          </div>
                       </div>
                        <div class="w-100 py-3 border-top border-bottom mb-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-unstyled m-0">
                                        <li class="border-0 py-2 d-flex justify-content-between align-items-center">
                                            <span class="text-15 font-weight-400 text-black">{{'O_M_VIEW-ORDER_SUBTOTAL'|translate}}</span>
                                            <span class="text-15 font-weight-400 text-black">{{currencySymbol}}{{shoppingCart?.subTotal| number:'1.0-2'}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12">
                                  <ul class="list-unstyled m-0">
                                      <li class="border-0 py-2 d-flex justify-content-between align-items-center">
                                          <span class="text-15 font-weight-400 text-black">{{'ORDER_TOTAL'|translate}}</span>
                                          <span class="text-15 font-weight-400 text-danger">{{currencySymbol}}{{shoppingCart?.totalPrice| number:'1.0-2'}}</span>
                                      </li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <ul class="list-unstyled">
                                    <li
                                    class="border-bottom-0 d-flex justify-content-between align-items-center">
                                    <span
                                        class="text-15 font-weight-600 text-success mob-text-12">{{'YOURTOTALSAVINGS'|translate}}</span>
                                    <span
                                        class="text-15 font-weight-600 text-success mob-text-12">{{currencySymbol}}{{(shoppingCart.totalDiscount)| number:'1.0-2'}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" routerLink='/{{subdomain}}/checkout'
                                    class="border-0 w-100 rounded-2 bg-theme-dark-color text-color-w text-first-light-color py-2 px-4 text-18 font-weight-600 mob-text-14">{{'PROCESSED_TO_CHECKOUT'|translate}}</button>
                            </div>
                        </div>
                    </div>
                    <!-- Spinner For Update Quantity Starts Here -->
                    <div *ngIf="quantityLoading" class="position-absolute z-index-99 top-0 start-0 w-100 h-100 py-2 px-2 text-center d-flex bg-white-80 flex-column align-items-center justify-content-center">
                        <img src="../../../../assets/img/spinner-icon1.png" class="spinner-border border-0 mt-0 overflow-hidden mb-3">
                        <h5 class="d-block w-100 text-black text-15 mt-0 mb-3">  {{'UPDATING_CART'|translate}} </h5>
                    </div>
                    <!-- Spinner For Update Quantity Ends Starts Here -->
                     </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cart Empty Starts Here -->
    <div class="new-container1">
        <div class="d-block w-100 py-5  text-center" *ngIf="(!shoppingCart || noItemsAvailable) && !loadingItems">
            <img class="w-300-px mw-100" src="./assets/img/empty-shopping-cart.jpg">
          <p class="text-center text-black mt-3 mb-3 text-15 font-weight-400">
            {{'YOUR_CART_IS_CURRENTLY_EMTPY_START_SHOPPING'|translate}}
          </p>
          <button [routerLink]="['../home']"  class="px-3 py-2 text-white bg-theme-dark-color rounded-2 text-14 font-weight-500">
          {{'CONTINUE_SHOPING'|translate}}
          </button>
        </div>
    </div>
    <!-- Cart Empty Ends Here -->

  <!-- Loading Animation Starts Here -->
  <div class="d-block w-100 text-center" *ngIf="loadingItems">
    <img class="h-400-px h-250-px w-100 object-fit-contain mb-4" src="./assets/img/products-loading.jpg" alt="{{'ITEMS_ARE_LOADING'|translate}}">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="d-inline-block">
        <img class="h-20-px w-auto spinner-border border-0" src="./assets/img/spinner-icon.png" >
      </div>
      <div class="d-inline-block ps-3">
        <h4 class="text-black text-16 font-weight-500 m-0"> {{'ITEMS_ARE_LOADING'|translate}} </h4>
      </div>
    </div>
  </div>

</section>


