<section class="pt-3">
    <div class="new-container1">
        <div class="row">
            <div class="col-12 mb-md-0 mb-sm-3 mb-3 mb-lg-0">
                <div class="card border-0 rounded-2 overflow-hidden h-100">
                    <img src="../../../assets/img/items/lefttopbanner.jpg" class="card-img theme-four-banner-h w-100"
                        alt="{{'TOPBANNER'|translate}}">
                    <div class="card-img-overlay d-flex align-items-center justify-content-start ps-5">
                        <div>
                            <h5 class="text-20 font-weight-500 text-black mb-0 mob-text-12">{{'SAVEUPTO'|translate}}
                            </h5>
                            <h2 class="text-57 font-weight-700 text-green-four-theme mb-0 mob-text-20">30% OFF</h2>
                            <p class="text-20 font-weight-500 text-black mb-2 mob-text-12">{{'ONALLTYPETEXT'|translate}}
                            </p>
                            <button type="button"
                                class="border-0 rounded-2 text-white bg-green-four-theme py-md-2 py-sm-1 py-1 px-md-4 px-sm-4 px-4 text-20 mob-text-12 font-weight-500">
                                {{'VIEWMORE'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-4">
    <div class="new-container1">
        <div
            class="alert_top four-theme-border-green row px-md-0 pe-0 ps-sm-0 ps-0 px-lg-auto py-3 align-items-sm-center rounded-2 w-100 mx-0">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-md-3 mb-sm-3 mb-3 mb-lg-0">
                <p
                    class="mb-0 text-20 text-black font-weight-600 mob-text-14 text-md-center text-sm-center text-center text-lg-start">
                    {{'SHOPANDSAVEBIGHOTTESTPRODUCTS'|translate}}</p>
            </div>
            <div
                class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex align-items-center flex-lg-row flex-md-column flex-sm-column flex-column">
                <div>
                    <h3
                        class="mb-0 text-30 text-black font-weight-600 mob-text-14 text-lg-end text-md-center text-sm-center text-center">
                        from $79.00</h3>
                    <p
                        class="mb-0 text-20 text-black font-weight-400 mob-text-14 text-lg-end text-md-center text-sm-center text-center">
                        {{'DONTMISSTHESPECIAL'|translate}}</p>
                </div>
                <div class="ms-lg-3 ms-md-0 ms-sm-0 ms-0 mt-md-3 mt-sm-3 mt-3 mt-lg-0">
                    <button type="button"
                        class="border-0 rounded-2 text-white bg-green-four-theme py-2 px-4 text-20 mob-text-12 font-weight-500">
                        {{'SHOPNOW'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-3 px-md-3 px-sm-0 px-0 plp_page">
    <div class="new-container1">
        <div class="row ">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent pb-3 border-bottom-0">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/FourTheme/cancel-order']" class="text-14 font-weight-400">
                                <span>
                                    <img src="../../../assets/img/items/arrow-left.svg" class="w-100"
                                    alt="{{'ICONIMAGES'|translate}}">
                                </span>
                            </a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="pt-3 pb-5 px-md-3 px-sm-0 px-0 plp_pr_section">
    <div class="new-container1">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between flex-md-column flex-lg-row flex-sm-column flex-column">
                    <div class="left_side_bar_menu">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <h3 class="border-bottom text-20 font-weight-600 mb-0 pb-2">{{'PRODUCTCATEGORIES'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Bed Room Furniture
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Living Room Furniture

                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Dining Room Furniture
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Work Series
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Prestige Furniture
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Outdoor Furniture
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Office Furniture
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Augmented Reality
                                        </a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Wedding Packages</a>
                                    </li>
                                    <li class="mb-2 border-bottom-0 pb-2">
                                        <a routerLink="" class="text-16 font-weight-400 text-black">
                                            Bargain Series
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <h3 class="border-bottom text-18 font-weight-600 mb-0 pb-2">{{'AVAILABILITY'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2 py-2 border-bottom-0">
                                        <div class="instock_check">
                                            <mat-checkbox class="w-100">
                                                <div class="w-100 d-flex justify-content-between">
                                                    <span class="text-18 font-weight-400 ms-2 d-block">{{'INSTOCK'|translate}}</span>
                                                    <span class="text-18 font-weight-600">450</span>
                                                </div>
                                            </mat-checkbox>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <h3 class="border-bottom text-18 font-weight-600 mb-0 pb-2">{{'PRICE'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row ngx_slider_custom">
                            <div class="col-md-12">
                                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                            </div>
                        </div>
                        <div class="row align-items-center mt-3">
                            <div class="col-md-5">
                                <input type="number" [(ngModel)]="minValue" class="form-control border">
                            </div>
                            <div class="col-md-2">
                                <span>{{'TO'|translate}}</span>
                            </div>
                            <div class="col-md-5">
                                <input type="number" [(ngModel)]="maxValue" class="form-control border">
                            </div>
                        </div>
                        <div class="row align-items-center mt-3 mb-4">
                            <div class="col-md-12">
                                <button type="button"
                                    class="border-0 rounded-2 text-white bg-green-four-theme py-md-2 py-sm-1 py-1 w-100 text-16 mob-text-12 font-weight-600">
                                    {{'APPLY'|translate}}
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <h3 class="border-bottom text-18 font-weight-600 mb-0 pb-2">{{'COLORS'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12 ">
                                <div class="d-flex flex-wrap color_list">
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                    <div class="container_colors me-1 mb-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <h3 class="border-bottom text-18 font-weight-600 mb-0 pb-2">{{'BRANDS'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2 border-bottom-0">
                                        <div class="instock_check">
                                            <mat-checkbox class="w-100">
                                                <div class="w-100 d-flex justify-content-between">
                                                    <span class="text-16 font-weight-500 ms-2">{{'IKEA'|translate}}</span>
                                                </div>
                                            </mat-checkbox>
                                        </div>
                                    </li>
                                    <li class="mb-2 border-bottom-0">
                                        <div class="instock_check">
                                            <mat-checkbox class="w-100">
                                                <div class="w-100 d-flex justify-content-between">
                                                    <span class="text-16 font-weight-500 ms-2">{{'West Elm'|translate}}</span>
                                                </div>
                                            </mat-checkbox>
                                        </div>
                                    </li>
                                    <li class="mb-2 border-bottom-0">
                                        <div class="instock_check">
                                            <mat-checkbox class="w-100">
                                                <div class="w-100 d-flex justify-content-between">
                                                    <span class="text-16 font-weight-500 ms-2">{{'Herman Miller'|translate}}</span>
                                                </div>
                                            </mat-checkbox>
                                        </div>
                                    </li>
                                    <li class="mb-2 border-bottom-0">
                                        <div class="instock_check">
                                            <mat-checkbox class="w-100">
                                                <div class="w-100 d-flex justify-content-between">
                                                    <span class="text-16 font-weight-500 ms-2">{{'Steelcase'|translate}}</span>
                                                </div>
                                            </mat-checkbox>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="product_content_area pb-4 px-lg-4 px-md-0">
                        <div class="w-100 h-100">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-22 font-weight-600 text-black mob-text-16">{{'CANCELDETAIL'|translate}}</h3>
                                </div>
                            </div>
                            <div class="w-100 border overflow-hidden rounded-3 h-100 pb-3">
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <div class="searchbar_parent bg-color-F2F3F5 d-flex justify-content-start align-items-center py-3 px-4">
                                            <div class="row w-100">
                                                <div class="col-md-4 col-sm-12 col-12 d-flex flex-column justify-content-end">
                                                    <p class="text-15 font-weight-600 text-black mb-1 mob-text-13">{{'ORDER-SEC'|translate}} #abc15405431</p>
                                                    <p class="text-14 font-weight-400 text-color-475467 mb-0 mob-text-12">{{'PLACEDON'|translate}} 12 jan 2023 02:27:58</p>
                                                </div>
                                                <div class="col-md-4 col-sm-12 col-12 d-flex align-items-end">
                                                    <p class="text-14 font-weight-400 text-color-475467 mb-0 mob-text-12">{{'DELIVEREDON'|translate}} 16 jan 2023</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100 p-sm-4 p-2">
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <h4 class="text=-8 font-weight-600 text-black mob-text-14">{{'RETURN_METHOD'|translate}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-6 mb-md-0 mb-sm-4 mb-4">
                                            <div class="border p-sm-4 p-2 rounded-3">
                                                <p class="text-start text-15 font-weight-400 mob-text-12">{{'YOUR_AMOUNT_BANK_ACCOUNT'|translate}}</p>
                                                <div>
                                                    <ul class="list-unstyled p-0 m-0">
                                                        <li class="py-2 border-bottom-0 d-flex">
                                                            <span class="text-15 w-100-px d-block font-weight-500 text-lightgrey mob-text-12">{{'NAME'|translate}}</span>
                                                            <span class="text-15 font-weight-500 ms-3 text-color-four-theme-blackshade mob-text-12">Rich Wilson</span>
                                                        </li>
                                                        <li class="py-2 border-bottom-0 d-flex">
                                                            <span class="text-15 w-100-px d-block font-weight-500 text-lightgrey mob-text-12">{{'BANKNAME'|translate}}</span>
                                                            <span class="text-15 font-weight-500 ms-3 text-color-four-theme-blackshade mob-text-12">{{'USBANK'|translate}}</span>
                                                        </li>
                                                        <li class="py-2 border-bottom-0 d-flex">
                                                            <span class="text-15 w-100-px d-block font-weight-500 text-lightgrey mob-text-12">{{'ACCOUNT_NO'|translate}}</span>
                                                            <span class="text-15 font-weight-500 ms-3 text-color-four-theme-blackshade mob-text-12">125-554158213-54</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="border rounded-3">
                                                <div class="px-sm-4 p-2 pb-4 pt-3">
                                                    <ul class="list-unstyled p-0 m-0">
                                                        <li class="py-2 border-bottom-0 d-flex justify-content-between alig-items-center">
                                                            <span class="text-18 font-weight-600 text-black">{{'REFUND_DETAILS'|translate}}</span>
                                                        </li>
                                                        <li class="py-2 border-bottom-0 d-flex justify-content-between alig-items-center">
                                                            <span class="text-15 font-weight-500 text-black">{{'ITEM_PRICE'|translate}} </span>
                                                            <span class="text-15 font-weight-500 text-black">$ 28</span>
                                                        </li>
                                                        <li class="py-2 border-bottom-0 d-flex justify-content-between alig-items-center">
                                                            <span class="text-15 font-weight-500 text-black">{{'DELIVERY_FEE'|translate}}</span>
                                                            <span class="text-15 font-weight-500 text-black">$ 0</span>
                                                        </li>
                                                        <li class="py-2 border-bottom-0 d-flex justify-content-between alig-items-center">
                                                            <span class="text-15 font-weight-500 text-black">{{'SERVICES_CHARGES'|translate}}</span>
                                                            <span class="text-15 font-weight-500 text-black"></span>
                                                        </li>
                                                        <li class="py-2 border-bottom-0 d-flex justify-content-between alig-items-center">
                                                            <span class="text-15 font-weight-500 text-black">{{'COURIER_FEE'|translate}}</span>
                                                            <span class="text-15 font-weight-500 text-black">$ 3</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-end border-top py-4 px-3">
                                                    <div>
                                                        <span class="text-15 text-black font-weight-500">{{'TOTAL_REFUND_AMOUNT'|translate}} :</span>  <span class="text-19 text-black font-weight-500">$25</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <div class="border rounded-3 px-sm-4 px-4 pt-sm-4 pt-4 pb-sm-4 pb-4">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="text-16 font-weight-400 text-black mob-text-12 mb-2">{{'YOUR_TOTAL_REFUND'|translate}}</p>
                                                        <h4 class="text-36 font-weight-400 text-black mob-text-16 mb-0">$25</h4>
                                                    </div>
                                                    <div class="col-md-6 d-flex align-items-end justify-content-end">
                                                        <button type="button" mat-button
                                                            class="border-0 rounded-2 text-white bg-green-four-theme next_btn_return_order px-5 py-0 text-16 mob-text-12 font-weight-600">
                                                            {{'NEXT'|translate}}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="getUpdatesection bg-color-b py-5">
    <div class="w-100 px-md-5 px-sm-3 px-3">
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12 col-12 col-md-12">
                <div class="row">
                    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12 co-12">
                        <h3 class="text-30 font-weight-600 text-white mob-text-20">{{'GETOURUPDATE'|translate}}</h3>
                        <p class="text-20 font-weight-400 text-lightgrey mob-text-14">
                            {{'GETOURUPDATE_CONTENT'|translate}}</p>
                    </div>
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12 co-12">
                        <form>
                            <div class="form-group d-flex">
                                <input type="email"
                                    class="form-control input-focus-none text-16 font-weight-400 bg-white rounded-2 border"
                                    placeholder="{{'ENTER_YOUR_EMAIL'|translate}}">
                                <button type="submit"
                                    class="border-0 ms-3 rounded-2 bg-theme-dark-color text-color-w text-first-light-color px-2 text-16 font-weight-600">{{'PICK_A_PLAN_SUBSCRIBE'|translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
