<section class="py-5 my-5">
  <div class="new-container1">
    <div class="d-block w-100 mb-3 text-center">
      <img class="h-300-px w-auto mw-100 mw-100 mob-h-250-px" src="../../../../assets/img/domain-not-exist.png"
        alt="{{'THIS_DOMAIN_NOT_EXIST'|translate}}" />
    </div>
    <div class="d-block w-100 text-center">
      <h3 class="text-50 text-grey-color text-35 mob-text-30 font-weight-600 mb-3 mt-0"> {{'SORRY'|translate}} </h3>
      <h5 class="text-black text-20 mb-3 mt-0"> {{'THIS_DOMAIN_NOT_EXIST' | translate}} </h5>
      <p class="text-black text-15 m-0">
        {{'IF_YOU_LIKE_TO_RESERVE_THIS_BUSINESS'|translate}}
        <a target="_blank" href="{{businessUrl}}sign-up" class="px-1 font-weight-600 py-1 text-color-6941C6">
          {{'SIGNIN_SIGNUPBTN' | translate}}
        </a>
        {{'OR_ONLY'|translate}}
        <a target="_blank" href="{{businessUrl}}login" class="px-1 font-weight-600 py-1 text-color-6941C6">
          {{'LOGIN' | translate}}
        </a>
      </p>
    </div>
  </div>
</section>
