<div class="d-block w-100 product-hover-style1 rounded-2 border border-color-silver  py-2 position-relative">
  <div class="text-decoration-none d-block w-100">
    <div class="card border-0 overflow-hidden new_pr_card plp_pr_card">
      <div class="plp_pr_image disabled-inner border-0 h-auto d-flex align-items-center justify-content-center rounded-2 position-relative px-3">
        <a class="text-decoration-none d-block w-100">
          <img src='./assets/img/default-product.png' class="h-202-px w-100 object-fit-contain object-position-center"   alt="{{'SHOPBYCATEGORY'|translate}}">
        </a>
      </div>
      <div class="d-block w-100 py-3 cursor-pointer popup-parent-rtl">
        <div class="d-block disabled-inner w-100 px-3 py-2 border-bottom border-color-silver">
          <h3 class="text-black m-0 font-weight-600 text-15 mob-text-14 text-capitalize text-start"> Jordan Nike Shoes Limited Edition </h3>
        </div>
        <div class="d-block disabled-inner w-100 py-3 px-3">
          <div class="d-block w-100">
            <div class="d-inline-block">
              <h5 class="text-18 mob-text-16 font-weight-700 text-027A48 mt-0 mb-2">   1399 Points </h5>
              <p class="text-13 text-black m-0"> This Beautiful Baccarat crystal bottle is an enlarged reproduction... </p>
            </div>
          </div>
        </div>
        <div class="d-block w-100 px-3">
          <div class=" align-items-center justify-content-center w-100 z-index-1">
            <button (click)="redeemProduct()" class="w-100 d-flex align-items-center justify-content-center border border-color-silver text-15 font-weight-500 px-3 py-2 bg-white rounded-3">
              <i class="bi bi-bag-plus-fill text-black text-18 lh-tiny no-min-height no-min-width me-2"></i>
              {{'QUICKVIEW'|translate}}
              </button>
              <button (click)="redeemProduct()" class="bg-theme-dark-color w-100 rounded-2 text-15 lh-lg py-2 px-2 text-white mt-2">
                {{'REDEEM_PRODUCT'|translate}}
            </button>
          </div>
          <!-- When Redeem Disabled Starts Here -->
          <!-- <div class=" align-items-center justify-content-center w-100 z-index-1">
             <p class="text-13 text-danger my-2 p-0 text-center">
              {{'YOU_HAVE'|translate}} 13000  {{'POINTS'|translate}} <br/>
              2000 {{'POINTS_TO_GO'|translate}}
             </p>
              <button class="bg-theme-dark-color w-100 rounded-2 text-15 lh-lg py-2 px-2 text-white mt-2">
                {{'ORDER_NOW'|translate}}
            </button>
          </div> -->
          <!-- When Redeem Disabled Ends Here -->
        </div>
      </div>


    </div>
  </div>
</div>
