<section class="py-3 plp_page bg-color-F2F4F7">
  <div class="new-container1">
    <div class="d-block w-100 mb-2">
      <h3 class="text-black font-weight-600 text-20 m-0 p-0">   {{'MYORDERS'|translate}} </h3>
    </div>
    <div class="row" *ngIf="user">
        <div class="col-md-12" *ngIf="!orderHistory">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0 m-0 border-0">
                    <li class="breadcrumb-item breadcrumb-slash-off">
                        <button routerLink="../home" class="text-14 p-0 font-weight-400 cursor-pointer text-black">
                          {{'HOME'|translate}}
                          </button>
                        <span class="d-inline-block text-grey text-16 px-2"> / </span>
                    </li>
                    <li routerLink="../../my-order" class="breadcrumb-item breadcrumb-slash-off cursor-pointer" aria-current="page">
                        <b class="text-14 font-weight-400 cursor-pointer text-black">
                            {{'MYORDER'|translate}}
                        </b>
                        <span class="d-inline-block text-grey text-16 px-2"> / </span>
                    </li>
                    <li class="breadcrumb-item breadcrumb-slash-off" aria-current="page">
                      <b class="text-14 font-weight-400 cursor-default text-black">
                        {{'ORDER-SEC'|translate}} :  #{{order?.businessOrderId}}
                      </b>
                  </li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12" *ngIf="orderHistory">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent p-0 m-0 border-0">
                  <li class="breadcrumb-item breadcrumb-slash-off">
                      <button routerLink="../home" class="text-14 p-0 font-weight-400 cursor-pointer text-black">
                        {{'HOME'|translate}}
                        </button>
                      <span class="d-inline-block text-grey text-16 px-2"> / </span>
                  </li>
                  <li routerLink="/{{subdomain}}/track-order" class="breadcrumb-item breadcrumb-slash-off" aria-current="page">
                      <b class="text-14 font-weight-400 cursor-default text-black">
                          {{'TRACKING_ORDER'|translate}}
                      </b>
                      <span class="d-inline-block text-grey text-16 px-2"> / </span>
                  </li>
                  <li class="breadcrumb-item breadcrumb-slash-off" aria-current="page">
                    <b class="text-14 font-weight-400 cursor-default text-black">
                      {{'ORDER-SEC'|translate}} :  #{{orderPrefix}}{{order?.orderId}}{{orderSuffix}}
                    </b>
                </li>
              </ol>
          </nav>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="new-container1">
    <div class="d-block mb-2">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-12 col-sm-12 col-12">
          <h4 class="text-black text-24 m-0 p-0 font-weight-600">    {{'ORDER_DETAILS'|translate}} </h4>
        </div>
      </div>
    </div>
    <div class="d-block border  rounded-2 bg-white overflow-hidden" *ngIf="order">
    <div class="d-block px-3 py-2 bg-color-E9FFF3 w-100">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div class="mb-lg-0 mb-md-0 mb-sm-0 mb-3" *ngIf="order?.orderTime">
          <span class="text-black text-14 me-3">  {{'O_M_ORDER_DATE'|translate}}: {{ convertUtcToLocal(order.orderTime) | FormattedDatePipe }} </span>
          <span class="text-black text-14 me-3">  {{'OS_ORDER_ID'|translate}}: {{order?.businessOrderId}} </span>
        </div>
        <div class="d-inline-block">
          <div class="d-flex align-items-center justify-content-end">

              <button
              *ngIf="getOrderSales(order).length !== getItemReturnBlocked(order).length && getOrderSales(order).length > 0 &&
              (order.status === 'COMPLETED' || order.status === 'DELIVERED' || order.status === 'PURCHASED' || order.status === 'PICKED')"
              (click)="openReturnOrder(order)"
               class="bg-white font-weight-500 py-2 px-3 rounded-2 text-14 text-black ms-2">
               {{'RETURN_ORDER'|translate}}
              </button>

              <button
              *ngIf="order.returnOrderStatus !== null && getOrderSales(order).length > 0 &&
              (order.status === 'COMPLETED' || order.status === 'DELIVERED' || order.status === 'PURCHASED' || order.status === 'PICKED')"
               (click)="openReturnOrderDetails(order)"
               class="bg-white font-weight-500 py-2 px-3 rounded-2 text-14 text-black ms-2">
                {{'RETURN_DETAILS'|translate}}
              </button>



          <button (click)="cancelOrder(order)" class="bg-danger-subtle font-weight-500 py-2 px-3 rounded-2 text-14 text-black ms-2" *ngIf="order.status === 'NEW' || order?.status === 'PENDING' || order?.status === 'ACCEPTED'">
            {{'CONFIRM_ORDER_CANCEL_ORDER'|translate}}
          </button>
          <button (click)="openPrintOrderSummary(order)"class="bg-warning-subtle font-weight-500 py-2 px-3 rounded-2 text-14 text-black ms-2"  *ngIf="order.status !== 'CANCELLED'">
            {{'PRINT_ORDER_SLIP'|translate}}
          </button>
          <span class="bg-0BA5EC d-inline-block font-weight-500 lh-lg px-4 py-2 rounded-pill ms-3">
            <span class="font-weight-500 text-15 text-white" *ngIf="order?.status === 'NEW'"> {{'ORDER_SUBMITTED'|translate}} </span>
            <span class="font-weight-500 text-15 text-white" *ngIf="order?.status === 'PENDING'"> {{'ORDER_WAITING_APPROVAL'|translate}} </span>
            <span class="font-weight-500 text-15 text-white" *ngIf="order?.status !== 'NEW' && order?.status !== 'PENDING'">
              {{order.status | translate}}
            </span>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-block py-4 px-4 bg-white">
      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-2 mb-sm-2 mb-2">

          <div class="d-block bg-grey2 px-3 py-3 bg-grey2 rounded-2 h-100">
            <h4 class="text-black text-18 font-weight-600 mt-0 p-0 mb-2">  {{'CUSTOMER_DETAILS'|translate}} </h4>
            <p class="text-black text-14 mb-1"> {{order?.orderAddressResponse?.firstName}} {{order?.orderAddressResponse?.lastName}}  </p>
            <p *ngIf="order?.orderAddressResponse?.email" class="text-black text-14 mb-1"> {{order?.orderAddressResponse?.email}} </p>
            <p *ngIf="order?.orderAddressResponse?.phoneNumber" class="text-black text-14 mb-1"> {{order?.orderAddressResponse?.phoneNumber}}  </p>
            <div *ngIf="order.contactCustomerNeeded" class="d-flex w-100 align-items-center justify-content-start mt-4 pt-1">
              <button (click)="editOrderCustomerDetails()" class="bg-theme-dark-color  px-3 py-1 rounded-2 text-14 text-white">
                  {{'EDIT'|translate}}
              </button>
              </div>
           </div>

        </div>

        <div *ngIf="order.orderType === 'ORDER_ONLINE_SHIP_TO_HOME' || order.orderType === 'ORDER_ONLINE_PICK_IN_STORE' || order.orderType === 'RESERVE_ONLINE_TRY_IN_STORE'" class="col-lg-3 col-md-6 col-sm-12 col-12  mb-lg-0 mb-md-2 mb-sm-2 mb-2">

          <div *ngIf="order.orderType === 'ORDER_ONLINE_SHIP_TO_HOME'" class="d-block bg-grey2 px-3 py-3 bg-grey2 rounded-2 h-100">
            <h4 class="text-black text-18 font-weight-600 mt-0 p-0 mb-2">  {{'SHIPPING_ADDRESS'|translate}} </h4>
            <p class="text-black text-14 mb-1"> {{order?.orderAddressResponse?.firstName}} {{order?.orderAddressResponse?.lastName}}  </p>
            <p class="text-black text-14 mb-1"> {{order?.orderAddressResponse?.country}} {{order?.orderAddressResponse?.city}} {{order?.orderAddressResponse?.state}} </p>
            <p class="text-black text-14 mb-1"  *ngIf="order?.orderAddressResponse?.addressLine1 !== 'undefined'">
               {{order?.orderAddressResponse?.addressLine1}} </p>
            <div *ngIf="order.shippingAddressNeeded" class="d-flex w-100 align-items-center justify-content-start mt-4 pt-1">
            <button (click)="editOrderShippingDetails()" class="bg-theme-dark-color  px-3 py-1 rounded-2 text-14 text-white">
                 {{'EDIT'|translate}}
            </button>
            </div>
          </div>

          <div *ngIf="order.orderType === 'ORDER_ONLINE_PICK_IN_STORE'" class="d-block bg-grey2 px-3 py-3 bg-grey2 rounded-2 h-100">
            <h4 class="text-black text-18 font-weight-600 mt-0 p-0 mb-2">  {{'PICKUP_INFORMATION'|translate}} </h4>
            <p class="text-black text-14 mb-1"> {{ convertUtcToLocal(order.pickupTime) | FormattedDatePipe }} </p>
            <p class="text-black text-14 mb-1"> {{order?.pickUpPersonResponse?.firstName}} {{order?.pickUpPersonResponse?.lastName}} </p>
            <p class="text-black text-14 mb-1"> {{order?.pickUpPersonResponse?.phoneNumber}} </p>
            <p class="text-black text-14 mb-1"> {{order?.pickUpPersonResponse?.email}} </p>
            <div *ngIf="order.pickupPersonNeeded" class="d-flex w-100 align-items-center justify-content-start mt-4 pt-1">
              <button (click)="editPickupInformation()" class="bg-theme-dark-color  px-3 py-1 rounded-2 text-14 text-white">
                   {{'EDIT'|translate}}
              </button>
              </div>
          </div>

          <div *ngIf="order.orderType === 'RESERVE_ONLINE_TRY_IN_STORE'" class="d-block bg-grey2 px-3 py-3 bg-grey2 rounded-2 h-100">
            <h4 class="text-black text-18 font-weight-600 mt-0 p-0 mb-2">  {{'PICKUP_INFORMATION'|translate}} </h4>
            <p class="text-black text-14 mb-1"> {{convertUtcToLocal(order.pickupTime) | FormattedDatePipe }} </p>
            <p class="text-black text-14 mb-1"> {{order?.pickUpPersonResponse?.firstName}} {{order?.pickUpPersonResponse?.lastName}} </p>

            <div *ngIf="order.pickupPersonNeeded" class="d-flex w-100 align-items-center justify-content-start mt-4 pt-1">
              <button (click)="editPickupInformationReserve()" class="bg-theme-dark-color  px-3 py-1 rounded-2 text-14 text-white">
                   {{'EDIT'|translate}}
              </button>
              </div>
          </div>

        </div>


        <div class="col-lg-3 col-md-6 col-sm-12 col-12  mb-lg-0 mb-md-2 mb-sm-2 mb-2">

          <div class="d-block bg-grey2 px-3 py-3 bg-grey2 rounded-2 h-100">
            <h4 class="text-black text-18 font-weight-600 mt-0 p-0 mb-2">  {{'PAYMENT_METHOD_ONLY'|translate}} </h4>
            <p *ngIf="order?.paymentMethod !== 'FINIX'" class="text-black text-14 mb-1"> {{order?.paymentMethod}} </p>
            <p *ngIf="order?.paymentMethod === 'FINIX'" class="text-black text-14 mb-1"> {{order?.maskedCardNumber}} </p>
            <p *ngIf="order?.paymentMethod === 'FINIX'" class="text-black text-14 mb-1"> {{order?.brand}} </p>
            <div *ngIf="order?.paymentCustomerNeeded" class="d-flex w-100 align-items-center justify-content-end mt-5 pt-1">
              <button (click)="editOrderPaymentMethod()" class="bg-theme-dark-color  px-3 py-1 rounded-2 text-14 text-white">
                   {{'UPDATE_PAYMENT_METHOD'|translate}}
              </button>
              </div>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-12  mb-lg-0 mb-md-2 mb-sm-2 mb-2">
        <div class="d-block bg-grey2 px-3 py-3 bg-grey2 rounded-2 h-100">
          <h4 class="text-black text-18 font-weight-600 mt-0 p-0 mb-2">  {{'ORDER_SUMMARY'|translate}} </h4>
          <table class="w-100">
            <tbody>
              <tr>
                <th class="text-black text-15 font-weight-normal">  {{'O_M_VIEW-ORDER_SUBTOTAL'|translate}}: </th>
                <td class="text-black text-15"> {{currency}} {{order?.subtotal?.toFixed(2)}} </td>
              </tr>
              <tr *ngIf="order.orderType === 'ORDER_ONLINE_SHIP_TO_HOME'">
                <th class="text-black text-15 font-weight-normal">  {{'SHIPPING_AND_HANDLING'|translate}} (+): </th>
                <td class="text-black text-15">  {{currency}} {{order?.shippingCost?.toFixed(2)}} </td>
              </tr>
              <!-- <tr>
                <th class="text-black text-15 font-weight-normal">  {{'BEOFRE_TAX_TOTAL'|translate}}: </th>
                <td class="text-black text-15">  {{currency}} {{(order.subtotal - order.totalDiscount ).toFixed(2)}} </td>
              </tr> -->
              <tr>
                <th class="text-black text-15 font-weight-normal">  {{'TOTAL_TAX'|translate}} (+): </th>
                <td class="text-black text-15">  {{currency}} {{order?.tax?.toFixed(2)}} </td>
              </tr>
              <tr>
                <th class="text-black text-15 font-weight-normal">  {{'TOTAL_DISCOUNT'|translate}} (-): </th>
                <td class="text-black text-15">  {{currency}} {{(order.totalDiscount - order.totalPromotionDiscount).toFixed(2)}} </td>
              </tr>
              <tr>
                <th class="text-black text-15 font-weight-normal">  {{'PROMOTION'|translate}} (-): </th>
                <td class="text-black text-15">  {{currency}} {{order?.totalPromotionDiscount?.toFixed(2)}} </td>
              </tr>
              <tr>
                <th class="text-black text-15 font-weight-600">  {{'TOTAL'|translate}}: </th>
                <td class="text-black text-15 font-weight-600">  {{currency}} {{order?.total?.toFixed(2)}} </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>

      </div>
    </div>

    </div>

    <div class="d-block mb-2 mt-2" *ngIf="order">
      <div class="d-flex align-items-center justify-content-start w-100 mb-2" *ngIf="order?.contactCustomerReason && order.status !== 'CANCELLED'">
        <button class="m-0 p-0 text-black text-14 bg-danger-subtle cursor-pointer px-2 py-2">
         <span class="font-weight-600 text-14"> {{'PLEASE_UPDATE_YOUR_ORDER_DETAILS'| translate}}:  </span>
         <span class="font-weight-600 text-14 ps-2"> {{order?.contactCustomerReason}} </span>
        </button>
     </div>
     <div class="d-block w-100" *ngIf="order.status === 'PICKED' && order.orderType === 'ORDER_ONLINE_PICK_IN_STORE'">
       <h5 class="text-black text-16 font-weight-600 mt-0 mb-1 d-flex align-items-center justify-content-start w-100">
          {{'PICKED_ON'|translate}}
         <button (click)="seeProofofPickup(order)" class="text-color-dark text-15 font-weight-600 px-2 py-1">
            {{'PROOF_OF_PICKUP'|translate}}
         </button>
       </h5>
      </div>
      <div class="d-block w-100" *ngIf="order.status === 'PURCHASED' && order.orderType === 'RESERVE_ONLINE_TRY_IN_STORE'">
       <h5 class="text-black text-17 font-weight-600 mt-0 mb-1">
          {{'PURCHASED'|translate}}
       </h5>
       <p class="m-0 p-0 text-black text-14">   {{'ORDER_PURCHASED_ON'|translate}}: {{order.deliverDate | FormattedDatePipe}} </p>
      </div>
      <div class="d-block w-100" *ngIf="(order.status === 'DELIVERED' || order.status === 'COMPLETED') && order.orderType === 'ORDER_ONLINE_SHIP_TO_HOME'">
       <h5 class="text-black text-17 font-weight-600 mt-0 mb-1 d-flex align-items-center justify-content-start w-100">
          {{'DELIVERED_ON'|translate}} {{order?.deliverDate! | FormattedDatePipe }}
         <button (click)="seeProofofDelivery(order)" class="text-color-dark text-14 font-weight-600 px-2 py-1">
            {{'PROOF_OF_DELIVERY'|translate}}
         </button>
       </h5>
      </div>

      <div class="d-block w-100" *ngIf="order.orderType !== 'ORDER_ONLINE_PICK_IN_STORE' && (order?.status == 'NEW' || order?.status == 'PENDING')">
        <h5 class="text-black text-17 font-weight-600 mt-0 mb-1">{{ 'IN_PROCESS' | translate }}</h5>
        <p class="m-0 p-0 text-black text-14">{{ 'OUR_TEAM_IS_WORKING_ON_SHIPPING' | translate }}</p>
      </div>

      <div class="d-block w-100" *ngIf="order.orderType === 'ORDER_ONLINE_PICK_IN_STORE' && (order?.status == 'NEW' || order?.status == 'PENDING')">
        <h5 class="text-black text-17 font-weight-600 mt-0 mb-1">{{ 'IN_PROCESS' | translate }}</h5>
        <p class="m-0 p-0 text-black text-14">{{ 'OUR_TEAM_IS_WORKING_ON_PREPARING_YOUR_ORDER' | translate }}</p>
      </div>


    </div>
    <div class="d-block w-100 mb-2" *ngIf="order">
        <h5 class="text-black text-17 font-weight-600 mt-0 mb-1">
            {{'ALL_ITEMS'|translate}}
       </h5>
    </div>

    <div class="d-block" *ngFor="let item of order?.orderDetails; let i = index ">
      <div class="d-block w-100" >
      <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-8 col-12 mb-3" [ngClass]="{'opacity-50 disabled-click': (item.purchased !== null && item.purchased == false) ||
        item.quantity <= 0 || (item.acceptedQuantity !== null && item.acceptedQuantity <= 0)}">
           <!-- [ngClass]="{ 'bg-danger': removeitemcondition}" -->
          <div class="d-block w-100" [ngClass]="{'bg-danger': (item.purchased !== null && item.purchased == false) ||
          item.quantity <= 0 || (item.acceptedQuantity !== null && item.acceptedQuantity <= 0)
          }">
          <div class="d-flex align-items-center px-1 py-1 justify-content-between w-100 mb-2">
            <div class="d-inline-block">
              <h5 class="text-black text-17 font-weight-600 m-0">
                {{'ITEM'|translate}}# {{i + 1}}
             </h5>
            </div>
            <div class="d-inline-block" *ngIf="order.businessOrderId.startsWith('B0-') && (item.backOrderExpectedDate && item.backOrderExpectedDate !== null)">
              <h5 class="text-black text-13 font-weight-500 m-0 border  rounded-2 bg-theme-light-color px-2">
                {{'EXPECTED_AFTER'|translate}} {{item.backOrderExpectedDate}}
             </h5>
            </div>
          </div>
          <div class="d-block w-100">
            <!-- bg-danger-subtle -->
            <!-- add the above class if the order is pending -->
            <div class="d-block w-100 border  rounded-2 py-2 px-2 mb-2"
            [ngClass]="{ 'bg-danger-subtle': item.status !== null && item.status !== 'ACCEPTED' && order.status !== 'PICKED'}">
              <div class="row align-items-center">
                <div class="col-md-3 col-lg-2 col-sm-12 col-12">
                  <div class="d-block mb-3 mb-lg-0 mb-md-0 mb-sm-0">
                    <img class="w-100 h-100-px object-fit-contain rounded-2 border "
                    [src]="item?.product?.mainImageUrl"
                    onerror= "this.src='./assets/img/default-product.png'" alt="{{'PRODUCT_IMAGE'|translate}}">
                  </div>
                </div>
                <div class="col-md-9 col-lg-10 col-sm-9 col-12">
                  <div class="row align-items-end">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-3">
                      <h3 class="mt-0 mb-1 p-0 text-black text-16 font-weight-600">
                        {{item?.product?.productName | titlecase}}
                      </h3>
                      <h5 class="mt-0 mb-1 text-black text-15 font-weight-500">   {{'QUANTITY'|translate}}: {{item.quantity}} </h5>
                      <h5 *ngIf="item?.skuId !== null" class="mt-0 mb-1 text-black text-15 font-weight-500">   {{'SKU_ID'|translate}}: {{item.skuId}}  </h5>
                      <h5 *ngIf="item?.status === 'UNAVAILABLE'" class="mt-0 mb-1 text-black text-15 font-weight-500">   {{'ACCEPTED_QUANTITY'|translate}}: 0 </h5>
                      <h5 *ngIf="item?.status === 'UNAVAILABLE'" class="mt-0 mb-1 text-black text-15 font-weight-500">   {{'UNAVAILABLE_REASON'|translate}}: {{item.unavailableReason}} </h5>
                      <h5 *ngIf="item?.status === 'PARTIALLY_ACCEPTED' || item?.status === 'BACK_ORDER'" class="mt-0 mb-1 text-black text-15 font-weight-500">   {{'ACCEPTED_QUANTITY'|translate}}: {{item.acceptedQuantity}} </h5>
                      <h5 *ngIf="item?.status === 'PARTIALLY_ACCEPTED'" class="mt-0 mb-1 text-black text-15 font-weight-500">{{'UNFULFILLED_QUANTITY'|translate}}: {{item.quantityDifference}}  </h5>
                      <h5 *ngIf="item?.status === 'BACK_ORDER'" class="mt-0 mb-1 text-black text-15 font-weight-500">   {{'BACKORDER_QUANTITY'|translate}}: {{item.quantityDifference}}  </h5>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-3">
                      <h3 *ngIf="item?.product?.brandName && item?.product?.brandName !== 'null'"  class="mt-0 mb-2 p-0 text-black text-16 font-weight-600">
                        {{'BRAND'|translate}}
                      </h3>
                      <span *ngIf="item?.product?.brandName && item?.product?.brandName !== 'null'" class="bg-theme-light-color d-inline-block rounded-2 border  text-black text-14 border  rounded-2 px-3 py-1">
                        {{item?.product?.brandName}}
                      </span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-3">
                      <h3 class="mt-0 mb-2 p-0 text-black text-16 font-weight-600 text-capitalize">
                        {{'LISTPRICE'|translate}}
                      </h3>
                      <span  class="bg-theme-light-color rounded-2 border d-inline-block  text-black text-14 border  rounded-2 px-3 py-1">
                        {{currency}}  {{item?.price}}
                      </span>
                    </div>
                    <div *ngIf="item?.status === null && item?.status === 'ACCEPTED'" class="col-lg-3 col-md-3 col-sm-3 col-12">
                      <button [routerLink]="['/', subdomain, 'product', item?.product?.url, item?.product?.id || item?.product?.productId]" class="bg-theme-dark-color px-3 py-2 rounded-3 text-14 text-white">
                        {{'BUY_IT_AGAIN'|translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="item?.status !== null && item?.status !== 'ACCEPTED'" class="d-flex w-100 align-items-center justify-content-start bg-danger-subtle px-2 py-2 border  rounded-2 mt-2">
                <i class="bi bi-exclamation-triangle-fill lh-tiny text-14 text-black ms-0 me-2 p-0"></i>
                <span class="text-14 font-weight-400">   {{'WE_APOLOGIZE_BUT_SOME_ITEMS_IN_YOUR_ORDER_NO_LONGER_AVAILABLE'|translate}}   </span>
              </div>
               <!-- Show these when the Sales Returns are Final -->
                      <div *ngIf="item.returnPolicyType?.toString() === 'SALES_ARE_FINAL'" class="d-flex w-100 align-items-center justify-content-start bg-danger-subtle px-2 py-2 border  rounded-2 mt-2">
                        <i class="bi bi-exclamation-triangle-fill lh-tiny text-14 text-black ms-0 me-2 p-0"></i>
                        <span class="text-14 font-weight-400">   {{'NOTE_ITEMS_CANNOT_BE_RETURNED_SALES_ARE_FINAL'|translate}}   </span>
                      </div>
                      <!-- Show these when the Sales Returns are Final -->

                      <!-- When the Item is Returned Initiated -->
                      <div *ngIf="order.returnOrderStatus !== null && item.returnQuantity > 0 && item.quantity > 0 && item?.returnPolicyType?.toString() === 'SALES_RETURN_ALLOWED' &&
                        (order.status === 'COMPLETED' || order.status === 'DELIVERED' || order.status === 'PURCHASED' || order.status === 'PICKED')"
                        class="d-flex w-100 align-items-center justify-content-start bg-warning-subtle px-2 py-2 border border-color-silver rounded-2 mt-2">
                        <i class="bi bi-exclamation-triangle-fill lh-tiny text-14 text-black ms-0 me-2 p-0"></i>
                        <span class="text-14 font-weight-400 d-inline-block text-black">   {{'THIS_ITEM_IS_RETURN_INITIATED_WITH_THE_QUANTITY_OF'|translate}}  {{item.returnQuantity}}  </span>
                      </div>
                      <!-- When the Item is Returned Initiated -->


                       <!-- Show these when the Item Returned Policy -->
                       <div *ngIf="item?.returnPolicyType?.toString() === 'SALES_RETURN_ALLOWED' && item.quantity > 0 && (order.status === 'COMPLETED' || order.status === 'DELIVERED' || order.status === 'PURCHASED' || order.status === 'PICKED')" class="d-flex w-100 align-items-center justify-content-start bg-danger-subtle px-2 py-2 border border-color-silver rounded-2 mt-2">
                        <i class="bi bi-exclamation-triangle-fill lh-tiny text-14 text-black ms-0 me-2 p-0"></i>
                        <span class="text-14 font-weight-400">   {{'RETURNS_MUST_BE_INITIATED_WITHIN'|translate}}   </span>
                        <span class="text-14 font-weight-400 d-inline-block px-2">  {{ item.timePeriodReturn }} </span>
                        <span class="text-14 font-weight-400">   {{'OF_DELIVERY_WTIH_A'|translate}}   </span>
                        <span class="text-14 font-weight-400 d-inline-block px-2">  {{ item.gracePeriodReturn }} </span>
                        <span class="text-14 font-weight-400">   {{'GRACE_PERIOD_TO_COMPLETE'|translate}}   </span>
                      </div>

                      <div *ngIf="item?.returnPolicyType?.toString() === 'SALES_RETURN_ALLOWED' && item.quantity > 0 && (order.status === 'COMPLETED' || order.status === 'DELIVERED' || order.status === 'PURCHASED' || order.status === 'PICKED')" class="d-flex w-100 align-items-center justify-content-start bg-danger-subtle px-2 py-2 border border-color-silver rounded-2 mt-2">
                        <i class="bi bi-exclamation-triangle-fill lh-tiny text-14 text-black ms-0 me-2 p-0"></i>
                        <span class="text-14 font-weight-400">   {{'RETURNS_MUST_BE_INITIATED_BEFORE'|translate}}   </span>
                        <span class="text-14 font-weight-400 d-inline-block px-2"> {{ calculateTimePeriodDifference(item, order) | date }}, </span>

                        <span *ngIf="differenceInDays >= 0">
                          <span class="text-14 font-weight-400 d-inline-block px-2">  {{  item.gracePeriodReturn }} </span>
                          <span class="text-14 font-weight-400">   {{'GRACE_PERIOD_TO_COMPLETE'|translate}}   </span>
                        </span>
                      </div>
                      <!-- Show these when the Item Returned Policy -->
            </div>
          </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-12 mb-3" *ngIf="order?.status !== 'CANCELLED'">

          <div class="d-flex flex-lg-row flex-md-row flex-sm-column flex-column align-items-start justify-content-between">
            <div class="d-block w-100 pt-4 mt-3">
              <!-- Ship to Home Status Buttons Starts Here -->

                  <!-- Show these Buttons for Unavailable & Order Type Ship to Home -->
                 <div class="d-block w-100" *ngIf="order?.orderType === 'ORDER_ONLINE_SHIP_TO_HOME' && item?.status !== 'DELIVERED'">
                   <button *ngIf="item?.status === 'BACK_ORDER'" class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2"
                  (click)="actionOnPendingOrder(item.id, 'DECLINE_BACKORDER')">
                     {{'GET'|translate}} {{item?.quantityDifference}} {{'ITEMS'|translate}}  {{'DECLINE_BACKORDER'|translate}}
                  </button>
                  <button *ngIf="item?.status === 'BACK_ORDER'" class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2"
                  (click)="actionOnPendingOrder(item.id, 'ACCEPT_BACKORDER')">
                     {{'GET'|translate}} {{item?.quantityDifference}} {{'ITEMS'|translate}}  {{'ACCEPT_BACKORDER'|translate}}
                  </button>
                  <button *ngIf="item?.status === 'PARTIALLY_ACCEPTED'" class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2"
                   (click)="actionOnPendingOrder(item.id, 'ACCEPTED')">
                   {{'GET'|translate}} {{item?.acceptedQuantity}} {{'ACCEPT_AVAILABLE_ITEMS'|translate}}
                 </button>
                 <button [disabled]="order?.orderDetails?.length! <= 1" *ngIf="(item?.status === 'PARTIALLY_ACCEPTED' || item?.status === 'BACK_ORDER' || item?.status === 'UNAVAILABLE')  && order?.orderType === 'ORDER_ONLINE_SHIP_TO_HOME'" class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2"
                 (click)="actionOnPendingOrder(item.id, 'DECLINED')">
                    {{'REMOVE_THIS_ITEM'|translate}}
                 </button>
                 </div>


                  <!-- Show these Buttons for Unavailable & Order Type Pick in Store -->
                 <div class="d-block w-100" *ngIf="order?.orderType === 'ORDER_ONLINE_PICK_IN_STORE'">
                   <button *ngIf="item?.status === 'BACK_ORDER'"
                  (click)="actionOnPendingOrder(item.id, 'DECLINE_BACKORDER')"
                  class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                     {{'GET'|translate}} {{item?.quantityDifference}} {{'ITEMS'|translate}}  {{'DECLINE_BACKORDER'|translate}}
                  </button>
                  <button *ngIf="item?.status === 'BACK_ORDER'"
                  (click)="actionOnPendingOrder(item.id, 'ACCEPT_BACKORDER')"
                  class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                     {{'GET'|translate}} {{item?.quantityDifference}} {{'ITEMS'|translate}}  {{'ACCEPT_BACKORDER'|translate}}
                  </button>
                  <button *ngIf="item?.status === 'PARTIALLY_ACCEPTED'"
                  (click)="actionOnPendingOrder(item.id, 'ACCEPTED')"
                  class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                  {{'GET'|translate}} {{item?.acceptedQuantity}} {{'ACCEPT_AVAILABLE_ITEMS'|translate}}
                 </button>
                 <button [disabled]="order?.orderDetails?.length! <= 1" *ngIf="(item?.status === 'PARTIALLY_ACCEPTED' || item?.status === 'BACK_ORDER' || item?.status === 'UNAVAILABLE')"
                 (click)="actionOnPendingOrder(item.id, 'DECLINED')"
                 class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                    {{'REMOVE_THIS_ITEM'|translate}}
                 </button>
                  </div>

                  <!-- Show these Buttons when the Order Type Reserve Try in Store -->
                  <div class="d-block w-100" *ngIf="order?.orderType === 'RESERVE_ONLINE_TRY_IN_STORE'">
                    <button *ngIf="item?.status === 'BACK_ORDER'"
                   (click)="actionOnPendingOrder(item.id, 'DECLINE_BACKORDER')"
                   class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                      {{'GET'|translate}} {{item?.quantityDifference}} {{'ITEMS'|translate}}  {{'DECLINE_BACKORDER'|translate}}
                   </button>
                   <button *ngIf="item?.status === 'BACK_ORDER'"
                   (click)="actionOnPendingOrder(item.id, 'ACCEPT_BACKORDER')"
                   class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                      {{'GET'|translate}} {{item?.quantityDifference}} {{'ITEMS'|translate}}  {{'ACCEPT_BACKORDER'|translate}}
                   </button>
                   <button *ngIf="item?.status === 'PARTIALLY_ACCEPTED'"
                   (click)="actionOnPendingOrder(item.id, 'ACCEPTED')"
                   class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                   {{'GET'|translate}} {{item?.acceptedQuantity}} {{'ACCEPT_AVAILABLE_ITEMS'|translate}}
                  </button>
                  <button [disabled]="order?.orderDetails?.length! <= 1" *ngIf="(item?.status === 'PARTIALLY_ACCEPTED' || item?.status === 'BACK_ORDER' || item?.status === 'UNAVAILABLE')"
                  (click)="actionOnPendingOrder(item.id, 'DECLINED')"
                  class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                     {{'REMOVE_THIS_ITEM'|translate}}
                  </button>
                   </div>

                 <!-- Show these Buttons when the order shipped -->
                 <div class="d-block w-100" *ngIf="(order.status === 'SHIPPING' || order.status === 'IN_TRANSIT' || order.status === 'OUT_FOR_DELIVERY') && order.orderType === 'ORDER_ONLINE_SHIP_TO_HOME' && item.returnQuantity <= 0 && item.quantity > 0">
                   <button routerLink="/{{subdomain}}/track-order" class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                  {{'TRACK_YOUR_ORDER'|translate}}
                 </button>
                 </div>

                 <!-- Show these Buttons when the order delivered -->
                 <div class="d-block w-100" *ngIf="order.orderType === 'ORDER_ONLINE_SHIP_TO_HOME' && (getTracks(order).includes('DELIVERED') || getTracks(order).includes('PICKED')) && item.returnQuantity <= 0 && item.quantity > 0">
                  <button routerLink="/{{subdomain}}/track-order" class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                  {{'TRACK_YOUR_ORDER'|translate}}
                 </button>
                 <button *ngIf="(getTracks(order).includes('DELIVERED') || getTracks(order).includes('PICKED')) && item.returnQuantity <= 0 && item.quantity > 0
                   && !((item.purchased !== null && item.purchased == false) || item.quantity <= 0 || (item.acceptedQuantity !== null && item.acceptedQuantity <= 0))"
                   (click)="editreviewmodal(item.product)" class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                  {{'WRITE_A_PRODUCT_REVIEW'|translate}}
                 </button>
                 </div>
                 <!-- Ship to Home Status Buttons Ends Here -->


                  <!-- Show these buttons when the order picked up -->
                  <div class="d-block w-100" *ngIf="order.status === 'PICKED' && order.orderType === 'ORDER_ONLINE_PICK_IN_STORE'">
                     <button class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                      {{'PROOF_OF_PICKUP'|translate}}
                    </button>
                     <button *ngIf="item.returnQuantity <= 0 && item.quantity > 0 &&
                     !((item.purchased !== null && item.purchased == false) || item.quantity <= 0 || (item.acceptedQuantity !== null && item.acceptedQuantity <= 0))"
                      (click)="editreviewmodal(item.product)" class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                      {{'WRITE_A_PRODUCT_REVIEW'|translate}}
                     </button>
                  </div>
                 <!-- Pick in Store Buttons Ends Here -->



                  <!-- Show these buttons when the order is store purchased-->
                  <div class="d-block w-100" *ngIf="order.status === 'PURCHASED' && item.returnQuantity <= 0 && item.quantity > 0 && order.orderType === 'RESERVE_ONLINE_TRY_IN_STORE'">

                     <button *ngIf="!((item.purchased !== null && item.purchased == false) || item.quantity <= 0 || (item.acceptedQuantity !== null && item.acceptedQuantity <= 0))"
                      (click)="editreviewmodal(item.product)" class="bg-grey2 bg-hover-grey border border-color-silver font-weight-500 py-2 px-3 rounded-2 text-14 text-black text-center text-start w-100 mb-2">
                      {{'WRITE_A_PRODUCT_REVIEW'|translate}}
                     </button>
                  </div>


            <!-- <button class="px-3 py-2 bg-success-subtle text-black font-weight-600 text-15 rounded-2 lh-lg ms-3" *ngIf="order?.status === 'PENDING'">
              {{'ACCEPT_AVAILABLE_ITEMS'|translate}}
            </button> -->
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>

    <div *ngIf="noOrdersAvailable" class="d-block w-100 py-5 px-4">
      <div class="d-block w-100 text-center">
        <img class="h-150-px object-fit-contain mb-3" src="./assets/img/no-orders-available.jpg" alt="{{'NO_ORDERS_AVAILABLE'|translate}}">
        <p class="text-15 text-black text-center m-0 p-0 w-100">  {{'NO_ORDERS_AVAILABLE'|translate}} </p>
      </div>
  </div>
  <!-- No Orders Available Ends Here -->

  <!-- Loading Animation Starts Here -->
  <div class="d-block w-100 text-center" *ngIf="loadingOrders">
    <img class="h-400-px h-250-px w-100 object-fit-contain mb-4" src="./assets/img/products-loading.jpg" alt="{{'ORDERS_ARE_LOADING'|translate}}">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="d-inline-block">
        <img class="h-20-px w-auto spinner-border border-0" src="./assets/img/spinner-icon.png" >
      </div>
      <div class="d-inline-block ps-3">
        <h4 class="text-black text-16 font-weight-500 m-0"> {{'ORDERS_ARE_LOADING'|translate}} </h4>
      </div>
    </div>
  </div>
  <!-- Loading Animation Ends Here -->
  </div>
</section>
