<div class="d-block w-100 border border-color-silver rounded-2 py-3 px-3">
                <div class="d-block w-100 rounded-2 overflow-hidden redeem-bg1 redeem-bg position-relative py-4 px-5">
                  <h3 class="text-color-yellow text-42 font-weight-700 mt-0 mb-2"> $20 </h3>
                  <h5 class="text-white text-20 font-weight-600 mt-0 mb-2"> {{'GIFT_VOUCHER'|translate}} </h5>
                  <p class="text-12 text-white font-weight-400 mt-0 mb-2"> {{'OFFERS_AVAILABLE_UNTIL'|translate}} 19th
                    December 2024</p>
                  <p class="text-12 text-color-yellow font-weight-400 m-0">
                    {{'FOR_MORE_INFORMATION_PLEASE_VISIT'|translate}} </p>
                  <p class="text-12 text-color-yellow font-weight-400 m-0"> www.storewebsite.com </p>
                </div>
                <div class="d-block w-100 pt-4 pb-2">
                  <h4 class="text-black text-16 bg-color-si rounded-2 py-2 px-2 border border-color-silver font-weight-700 mt-0 mb-2"> 220 {{'POINTS'|translate}} </h4>
                  <p class="text-black text-13 mt-0 mb-4"> {{'YOU_CAN_USE_THIS_VOUCHER_IN_FOLLOWING_STORES'|translate}}
                  </p>
                  <button (click)="redeemPoints()"
                    class="bg-theme-dark-color w-100 rounded-2 text-15 lh-lg py-2 px-2 text-white">
                    {{'REDEEM_POINTS'|translate}}
                  </button>
                </div>
              </div>
